openapi: 3.2.0
info:
  description: "\uFEFF\n\n# Introduction\n\nWelcome to Propertyware’s API—a powerful, RESTful programming interface that lets you leverage valuable Propertyware data."
  version: '1.0'
  title: Open API, powered by Propertyware Work orders API
  contact:
    name: Propertyware
    email: support@propertyware.com
  x-logo:
    url: logo.png
    backgroundColor: '#fff'
    altText: Propertyware, A RealPage Company
    href: https://www.propertyware.com
servers:
- url: https://api.propertyware.com/pw/api/rest/v1
security:
- clientId: []
- clientSecret: []
- organizationId: []
tags:
- name: Work Orders
  description: Resources providing access to work orders.
paths:
  /workorders:
    get:
      tags:
      - Work Orders
      summary: Retrieve all work orders
      description: 'Retrieves a list of work orders.


        Required permission:

        WORK ORDERS - Read


        Sortable by: createddate, number, type, lastmodifieddatetime, status, id'
      operationId: getWorkOrders
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: portfolioID
        in: query
        description: Filters results to prospects associated with a specific portfolio.
        required: false
        schema:
          type: integer
          format: int64
      - name: buildingID
        in: query
        description: Filters results to prospects associated with a specific building.
        required: false
        schema:
          type: integer
          format: int64
      - name: status
        in: query
        description: Filters results to work orders with a specific status.
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: Filters results to work orders with a specific type.
        required: false
        schema:
          type: string
      - name: priority
        in: query
        description: Filters results to work orders with a specific priority.
        required: false
        schema:
          type: string
          enum:
          - HIGH
          - MEDIUM
          - LOW
      - name: completedDateStart
        in: query
        description: Filters results to any payment with a date on or after to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: completedDateEnd
        in: query
        description: Filters results to any payment with a date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: includeCustomFields
        in: query
        description: includeCustomFields
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkOrder'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Work Orders
      summary: Create a work order
      description: 'Creates a work order.


        Required permission:

        WORK ORDERS - Write'
      operationId: createWorkOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveWorkOrder'
        description: saveWorkOrder
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrder'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /workorders/bulk:
    post:
      tags:
      - Work Orders
      summary: Create work orders in bulk
      description: 'Creates word orders in bulk.


        Required permission:

        WORK ORDERS - Write'
      operationId: createWorkOrders
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SaveWorkOrder'
        description: saveWorkOrder
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkSuccessResponse'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /workorders/closeworkorder/{workOrderID}:
    put:
      tags:
      - Work Orders
      summary: Close a Workorder (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Close an existing Workorder


        Required permission:

        WORK ORDERS - Write'
      operationId: closeWorkOrder
      parameters:
      - name: workOrderID
        in: path
        description: WorkOrder ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloseWorkOrder'
        description: closeWorkOrder
        required: true
      responses:
        '200':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /workorders/customfields:
    put:
      tags:
      - Work Orders
      summary: Update a workorder custom fields (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Updates an existing workorder custom fields


        Required permission:

        WORK ORDERS - Write'
      operationId: updateWorkOrder
      requestBody:
        $ref: '#/components/requestBodies/SaveCustomField'
      responses:
        '200':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /workorders/{workOrderID}:
    delete:
      tags:
      - Work Orders
      summary: Delete a Work Order (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Delete a Work Order.


        Required permission:

        WORK ORDERS - Delete'
      operationId: deleteWorkOrder
      parameters:
      - name: workOrderID
        in: path
        description: Work Order ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /workorders/{workOrderID}/tasks/{taskID}:
    get:
      tags:
      - Work Orders
      summary: Retrieve a work order task
      description: 'Retrieves a specific work order task.


        Required permission:

        WORK ORDERS - Read'
      operationId: getWorkOrderTask
      parameters:
      - name: workOrderID
        in: path
        description: Work Order ID
        required: true
        schema:
          type: integer
          format: int64
      - name: taskID
        in: path
        description: Task ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    delete:
      tags:
      - Work Orders
      summary: Delete a work order task (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Deletes a specific work order task.


        Required permission:

        WORK ORDERS - Delete'
      operationId: deleteWorkOrderTask
      parameters:
      - name: workOrderID
        in: path
        description: Work Order ID
        required: true
        schema:
          type: integer
          format: int64
      - name: taskID
        in: path
        description: Task ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /workorders/{workOrderId}:
    get:
      tags:
      - Work Orders
      summary: Retrieve a work order
      description: 'Retrieves a specific work order.


        Required permission:

        WORK ORDERS - Read'
      operationId: getWorkOrder
      parameters:
      - name: workOrderId
        in: path
        description: Work Order ID
        required: true
        schema:
          type: integer
          format: int64
      - name: includeCustomFields
        in: query
        description: includeCustomFields
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrder'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /workorders/{workOrderId}/tasks:
    get:
      tags:
      - Work Orders
      summary: Retrieve all work order tasks
      description: 'Retrieves a list of work order tasks.


        Required permission:

        WORK ORDERS - Read


        Sortable by: createddate, lastmodifieddatetime, id'
      operationId: getWorkOrderTasks
      parameters:
      - name: workOrderId
        in: path
        description: Work Order ID
        required: true
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: dueDate
        in: query
        description: Filters results by due day.
        required: false
        schema:
          type: string
          format: date
      - name: completed
        in: query
        description: Filters results by task status.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    post:
      tags:
      - Work Orders
      summary: Create a task to workOrder
      description: 'Create a task to an workOrder.


        Required permission:

        WORK ORDERS - Write'
      operationId: createWorkOrderTask
      parameters:
      - name: workOrderId
        in: path
        description: Work Order ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SaveWorkOrderTask'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /workorders/{workOrderId}/tasks/{taskId}:
    put:
      tags:
      - Work Orders
      summary: Update a task in workOrder
      description: 'Update an existing workOrder task.


        Required permission:

        WORK ORDERS - Write'
      operationId: updateWorkOrderTask
      parameters:
      - name: workOrderId
        in: path
        description: Work Order ID
        required: true
        schema:
          type: integer
          format: int64
      - name: taskId
        in: path
        description: Task ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SaveWorkOrderTask'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /workorders/{workOrderId}/tasks/{taskId}/comments:
    post:
      tags:
      - Work Orders
      summary: Add Comments to task for a workOrder
      description: 'Add Comments to task for WorkOrder.


        Required permission:

        WORK ORDERS - Write'
      operationId: addWorkOrderTaskComments
      parameters:
      - name: workOrderId
        in: path
        description: Work Order ID
        required: true
        schema:
          type: integer
          format: int64
      - name: taskId
        in: path
        description: Task ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SaveComment'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
components:
  schemas:
    Collection_long_:
      type: object
    SaveCustomField:
      type: object
      required:
      - entityId
      - fieldSet
      properties:
        entityId:
          type: integer
          format: int64
          description: Unique identifier of an entity custom field associated to.
        fieldSet:
          type: array
          description: List of Custom fields to update
          items:
            $ref: '#/components/schemas/CustomFieldSet'
      description: Custom field for Request
    BasicVendor:
      type: object
      properties:
        address:
          type: string
          description: Address.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        customFields:
          type: array
          description: Custom fields.
          items:
            $ref: '#/components/schemas/CustomField'
        email:
          type: string
          description: Email address.
        fax:
          type: string
          description: Fax number.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        name:
          type: string
          description: Name.
        otherPhone:
          type: string
          description: Other phone number.
        phone:
          type: string
          description: Phone number.
    Task:
      type: object
      properties:
        completed:
          type: boolean
          example: false
          description: Indicates if the task has been completed.
        completedTime:
          type: string
          format: date-time
          description: Time at which the task was completed.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        delegates:
          type: string
          description: Comma separated IDs of users to whom the task has been delegated.
        description:
          type: string
          description: Description of the task.
        dueDate:
          type: string
          format: date
          description: Date the task is due.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        privateTask:
          type: boolean
          example: false
          description: Indicates if the task is private.
        starred:
          type: boolean
          example: false
          description: Indicates if the task has been marked with a star.
        tags:
          type: string
          description: List of tags associated with the task.
      description: Task
    CustomFieldSet:
      type: object
      required:
      - name
      - value
      properties:
        name:
          type: string
          description: Custom Field name
        value:
          type: string
          description: Custom Field value
      description: Custom field set for Request
    WorkOrder:
      type: object
      properties:
        age:
          type: integer
          format: int64
          description: Number of days that have passed since the work order was created.
        approved:
          type: boolean
          example: false
          description: Indicates if work order is approved.
        approvedDate:
          type: string
          format: date
          description: Work order approved Date.
        assignedVendors:
          type: array
          description: List of vendors attached to the work order.
          items:
            $ref: '#/components/schemas/BasicVendor'
        authorizeEnter:
          type: string
          description: Indicates if the tenant has granted your management staff access to enter his or her buildings and/or units.
          enum:
          - 'NO'
          - ANYTIME
          - SPECIFIEDTIME
        buildingID:
          type: integer
          format: int64
          description: Id of the building associated with this work order.
        category:
          type: string
          description: This classifies the work order into a category.
        completedDate:
          type: string
          format: date
          description: Date on which the work was completed.
        contractNumber:
          type: string
          description: Contract number.
        costEstimate:
          type: number
          format: double
          description: This indicates the estimated cost as entered by a person, the actual cost as determined by the work order bills, and the invoiced amount is the amount the owner will see on his or her statement based on the bill and markup/discount amount.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        customFields:
          type: array
          description: Custom fields.
          items:
            $ref: '#/components/schemas/CustomField'
        dateToEnter:
          type: string
          format: date-time
          description: Authorized date to enter unit.
        description:
          type: string
          description: This is a detailed description of the problem.
        hourEstimate:
          type: number
          format: double
          description: Expected number of hours to complete the work order.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        lease:
          type: string
          description: If the work order is attached to an occupied building or unit, this is the lease name of that lease.
        location:
          type: string
          description: Buildings and/or units associated with this work order.
        maintenanceNotice:
          type: string
          description: Maintenance notice defined for the building that the work order is attached to.
        managedBy:
          type: string
          description: Name of the person who is responsible for managing the work order.
        number:
          type: integer
          format: int32
          description: Number assigned to this work order.
        portfolioID:
          type: integer
          format: int64
          description: Id of the portfolio associated with this work order.
        priority:
          type: string
          description: This identifies the priority of the work order as low, medium, or high.
          enum:
          - HIGH
          - MEDIUM
          - LOW
        publishToOwnerPortal:
          type: boolean
          example: false
          description: Publish To Owner Portal.
        publishToTenantPortal:
          type: boolean
          example: false
          description: Publish To Tenant Portal.
        requestedBy:
          type: string
          description: This identifies the person that reported the problem, typically the tenant or owner associated with the buildings or units.
        requiredMaterials:
          type: string
          description: List of materials required to complete the work order.
        scheduledEndDate:
          type: string
          format: date
          description: Date on which the work is scheduled to be completed.
        searchTag:
          type: string
          description: Search tag name.
        source:
          type: string
          description: This identifies how the problem was reported, such as telephone, in person, email, etc.
        specificLocation:
          type: string
          description: This describes the location in the buildings or units where the work is needed.
        startDate:
          type: string
          format: date
          description: Date on which the work was started.
        status:
          type: string
          description: Current status of the work order.
        type:
          type: string
          description: 'This classifies the work order into one of the following types: general, service request, turnover, inspection, estimate etc.'
        unitID:
          type: integer
          format: int64
          description: Id of the unit associated with this work order.
        unitIDs:
          $ref: '#/components/schemas/Collection_long_'
      description: Work Order
    CloseWorkOrder:
      type: object
      required:
      - timeCardEntry
      properties:
        category:
          type: string
          description: This classifies the work order into a category.
        comments:
          type: string
          description: Comments for closing workorder.
        completedDate:
          type: string
          format: date
          description: Date on which the work was completed.
        startDate:
          type: string
          format: date
          description: Date on which the work was started.
        timeCardEntry:
          type: array
          description: List of TimeCard Entries to update
          items:
            $ref: '#/components/schemas/TimeCardEntry'
    SaveComment:
      type: object
      required:
      - text
      properties:
        text:
          type: string
          description: Comment text.
      description: Comment for Request
    RESTAPIError:
      type: object
      properties:
        key:
          type: string
        message:
          type: string
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        userMessage:
          type: string
    TimeCardEntry:
      type: object
      required:
      - vendorID
      properties:
        billID:
          type: integer
          format: int64
          description: Bill ID.
        comments:
          type: string
          description: Time card Entry Comments.
        hourlyRate:
          type: number
          format: double
          description: Hourly Rate.
        hourlySurcharge:
          type: number
          format: double
          description: Hourly Surcharge.
        hours:
          type: number
          format: double
          description: Hours.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        vendorID:
          type: integer
          format: int64
          description: This is required field. Specifies the Vendor for a time card entry.
        workDate:
          type: string
          format: date-time
          description: Work Date.
      description: TimeCardEntry
    ResponseEntity:
      type: object
      properties:
        body:
          type: object
        statusCode:
          type: string
          enum:
          - '100'
          - '101'
          - '102'
          - '103'
          - '200'
          - '201'
          - '202'
          - '203'
          - '204'
          - '205'
          - '206'
          - '207'
          - '208'
          - '226'
          - '300'
          - '301'
          - '302'
          - '303'
          - '304'
          - '305'
          - '307'
          - '308'
          - '400'
          - '401'
          - '402'
          - '403'
          - '404'
          - '405'
          - '406'
          - '407'
          - '408'
          - '409'
          - '410'
          - '411'
          - '412'
          - '413'
          - '414'
          - '415'
          - '416'
          - '417'
          - '418'
          - '419'
          - '420'
          - '421'
          - '422'
          - '423'
          - '424'
          - '426'
          - '428'
          - '429'
          - '431'
          - '500'
          - '501'
          - '502'
          - '503'
          - '504'
          - '505'
          - '506'
          - '507'
          - '508'
          - '509'
          - '510'
          - '511'
    CustomField:
      type: object
      properties:
        dataType:
          type: string
          description: Data type of the custom field.
        definitionID:
          type: integer
          format: int64
          description: Id of the custom field definition.
        fieldName:
          type: string
          description: Name of the custom field.
        value:
          type: string
          description: Value of the custom field.
      description: Custom field.
    SaveWorkOrder:
      type: object
      required:
      - buildingID
      properties:
        authorizeEnter:
          type: string
          description: This field indicates if the tenant has granted the maintenance staff permission to enter the unit.
          enum:
          - 'NO'
          - ANYTIME
          - SPECIFIEDTIME
        buildingID:
          type: integer
          format: int64
          description: Id of the building associated with this work order.
        category:
          type: string
          description: Category of the work order.
        costEstimate:
          type: number
          format: double
          description: Enter an estimate of the cost for performing the work outlined in the work order.
        dateToEnter:
          type: string
          format: date
          description: Authorized date to enter unit.
        description:
          type: string
          description: Description of the work order.
        hourEstimate:
          type: number
          format: double
          description: Estimated number of hours to complete the work order.
        hourToEnter:
          type: integer
          format: int32
          description: 'Hour to enter. Allowed Value : 0 , 1, 2 ... 23'
        minuteToEnter:
          type: integer
          format: int32
          description: 'Minute to enter. Allowed Value : 0, 10, 20, 30, 40, 50'
        priority:
          type: string
          description: Priority of the work order.
          enum:
          - HIGH
          - MEDIUM
          - LOW
        publishToOwnerPortal:
          type: boolean
          example: false
          description: Publish To Owner Portal. Default=false
        publishToTenantPortal:
          type: boolean
          example: false
          description: Publish To Tenant Portal. Default=false
        requestedBy:
          type: integer
          format: int64
          description: Id of the person that reported the problem, typically the tenant or owner associated with the buildings or units.
        requiredMaterials:
          type: string
          description: Required Materials
        scheduledEndDate:
          type: string
          format: date
          description: Date on which the work is scheduled to be completed.
        searchTag:
          type: string
          description: Enter a key term to allow you to quickly locate the work order.
        source:
          type: string
          description: 'Source of the work order. This is a user configurable list with the following initial default values : None, Telephone, In Person, Email, Website, Internal, Tenant Portal, Inspection'
        specificLocation:
          type: string
          description: Specific Location
        startDate:
          type: string
          format: date
          description: Date on which the work was started.
        type:
          type: string
          description: 'This classifies the work order into one of the following types: General, Service Request, Turnover, Inspection, Estimate etc.'
        unitIDs:
          type: array
          description: List of unit Ids that are attached to the building.
          items:
            type: integer
            format: int64
      description: Work Order for Request
    SaveWorkOrderTask:
      type: object
      required:
      - description
      properties:
        completed:
          type: boolean
          example: false
          description: Indicates if the task is completed.
        delegates:
          type: string
          description: Comma separated list of user ids to delegate the task to.
        description:
          type: string
          description: Task description.
        dueDate:
          type: string
          format: date
          description: Task due date.
        isPrivate:
          type: boolean
          example: false
          description: Indicates if the task is private.
        starred:
          type: boolean
          example: false
          description: Indicates if the task is starred.
        tags:
          type: string
          description: Comma separated task tags.
      description: Work Order for Request
    RESTAPIBulkSuccessResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
    RESTAPIBulkErrorResponse:
      type: object
      properties:
        error:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        index:
          type: integer
          format: int32
        success:
          type: boolean
  requestBodies:
    SaveComment:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveComment'
      description: saveComment
      required: true
    SaveCustomField:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveCustomField'
      description: saveCustomField
      required: true
    SaveWorkOrderTask:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveWorkOrderTask'
      description: saveWorkOrderTask
      required: true
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: x-propertyware-client-id
    clientSecret:
      type: apiKey
      in: header
      name: x-propertyware-client-secret
    organizationId:
      type: apiKey
      in: header
      name: x-propertyware-system-id
