openapi: 3.2.0
info:
  description: "\uFEFF\n\n# Introduction\n\nWelcome to Propertyware’s API—a powerful, RESTful programming interface that lets you leverage valuable Propertyware data."
  version: '1.0'
  title: Open API, powered by Propertyware Bills API
  contact:
    name: Propertyware
    email: support@propertyware.com
  x-logo:
    url: logo.png
    backgroundColor: '#fff'
    altText: Propertyware, A RealPage Company
    href: https://www.propertyware.com
servers:
- url: https://api.propertyware.com/pw/api/rest/v1
security:
- clientId: []
- clientSecret: []
- organizationId: []
tags:
- name: Bills
  description: Resources providing access to bills and bill payments.
paths:
  /bills:
    get:
      tags:
      - Bills
      summary: Retrieve all bills
      description: 'Retrieves a list of bills.


        Required permission:

        BILLS - Read


        Sortable by: createddate, billdate, billnumber, lastmodifieddatetime, duedate, id'
      operationId: getBills
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: portfolioID
        in: query
        description: Filters results to bills associated with a specific portfolio.
        required: false
        schema:
          type: integer
          format: int64
      - name: vendorID
        in: query
        description: Filters results to bills associated with a specific vendor.
        required: false
        schema:
          type: integer
          format: int64
      - name: workOrderID
        in: query
        description: Filters results to bills associated with a specific work order.
        required: false
        schema:
          type: integer
          format: int64
      - name: markupGLAccountID
        in: query
        description: Filters results to bills associated with a specific markup general ledger account.
        required: false
        schema:
          type: integer
          format: int64
      - name: paid
        in: query
        description: Filters results by the bill's paid status. If no status is specified, bills with any status will be returned.
        required: false
        schema:
          type: boolean
      - name: billDateStart
        in: query
        description: Filters results to any bill with a billing date on or after to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: billDateEnd
        in: query
        description: Filters results to any bill with a billing date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: dueDateStart
        in: query
        description: Filters results to any bill with a due date on or after to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: dueDateEnd
        in: query
        description: Filters results to any bill with a due date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bill'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Bills
      summary: Create a bill
      description: 'Creates a bill.


        Required permission:

        BILLS - Write'
      operationId: createBill
      requestBody:
        $ref: '#/components/requestBodies/SaveBill'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /bills/bulk:
    post:
      tags:
      - Bills
      summary: Create bills in bulk
      description: 'Creates bills in bulk.


        Required permission:

        BILLS - Write'
      operationId: createBills
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SaveBill'
        description: saveBill
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkSuccessResponse'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /bills/credit:
    post:
      tags:
      - Bills
      summary: Create a credit
      description: 'Creates a credit.


        Required permission:

        BILLS - Write'
      operationId: createCredit
      requestBody:
        $ref: '#/components/requestBodies/SaveCredit'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /bills/credit/{creditID}:
    put:
      tags:
      - Bills
      summary: Update a Credit
      description: 'Update an existing Credit.


        Required permission:

        BILLS - Write'
      operationId: updateCredit
      parameters:
      - name: creditID
        in: path
        description: Credit ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SaveCredit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /bills/payment:
    post:
      tags:
      - Bills
      summary: Create a Bill Payment (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Create a Bill Payment


        Required permission:

        VENDORS - Write'
      operationId: createBillPayment
      requestBody:
        $ref: '#/components/requestBodies/SaveBillPayment'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillPayment'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /bills/payment/{billPaymentID}:
    put:
      tags:
      - Bills
      summary: Update a Bill Payment (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Update a Bill Payment


        Required permission:

        VENDORS - Write'
      operationId: updateBillPayment
      parameters:
      - name: billPaymentID
        in: path
        description: Bill Payment ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SaveBillPayment'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillPayment'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /bills/payments:
    get:
      tags:
      - Bills
      summary: Retrieve all bill payments
      description: 'Retrieves a list of bill payments.


        Required permission:

        BILLS - Read


        Sortable by: createddate, vendorid, lastmodifieddatetime, paymentdate, checknumber, id'
      operationId: getBillPayments
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: vendorID
        in: query
        description: Filters results to bills associated with a specific vendor.
        required: false
        schema:
          type: integer
          format: int64
      - name: paymentGLAccountID
        in: query
        description: Filters results to bills associated with a specific payment general ledger account.
        required: false
        schema:
          type: integer
          format: int64
      - name: paymentDateStart
        in: query
        description: Filters results to any payment with a date on or after to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: paymentDateEnd
        in: query
        description: Filters results to any payment with a date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillPayment'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /bills/payments/bulk:
    post:
      tags:
      - Bills
      summary: Create bill payments in bulk (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Creates bill payments in bulk.


        Required permission:

        VENDORS - Write'
      operationId: createBillPaymentsUsingPOST_1
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SaveBillPayment'
        description: saveBillPayment
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkSuccessResponse'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /bills/payments/{billPaymentID}:
    get:
      tags:
      - Bills
      summary: Retrieve a bill payment
      description: 'Retrieves a specific bill payment.


        Required permission:

        BILLS - Read'
      operationId: getBillPayment
      parameters:
      - name: billPaymentID
        in: path
        description: Bill Payment ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillPayment'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /bills/vendorchecks:
    get:
      tags:
      - Bills
      summary: Retrieve all Vendor checks (BETA)
      description: 'Note: This operation is still in beta and might be subject to breaking changes. Production integrations should be avoided at this stage.


        Retrieves a list of Vendor checks.


        Required permission:

        VENDORS - Read


        Sortable by: postdate, createddate, vendorid, lastmodifieddatetime, id'
      operationId: getVendorChecks
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: postDateStart
        in: query
        description: Filters results to any transaction with a start date on or after the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: postDateEnd
        in: query
        description: Filters results to any transaction with a start date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: portfolioID
        in: query
        description: Filters results associated with a specific portfolio.
        required: false
        schema:
          type: integer
          format: int64
      - name: vendorID
        in: query
        description: Filters results to transactions associated with a specific vendor.
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Check'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Bills
      summary: Create a Vendor check (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Creates a Vendor check.


        Required permission:

        VENDORS - Write'
      operationId: createVendorCheck
      requestBody:
        $ref: '#/components/requestBodies/SaveCheck'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Check'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /bills/vendorchecks/{vendorCheckID}:
    put:
      tags:
      - Bills
      summary: Update a Vendor check (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Update an existing Vendor check.


        Required permission:

        VENDORS - Write'
      operationId: updateVendorCheck
      parameters:
      - name: vendorCheckID
        in: path
        description: Vendor Check ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SaveCheck'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Check'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /bills/{billID}:
    get:
      tags:
      - Bills
      summary: Retrieve a bill
      description: 'Retrieves a specific bill.


        Required permission:

        BILLS - Read'
      operationId: getBill
      parameters:
      - name: billID
        in: path
        description: Bill ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    delete:
      tags:
      - Bills
      summary: Delete a Bill (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Delete a Bill.


        Required permission:

        BILLS - Delete'
      operationId: deleteBill
      parameters:
      - name: billID
        in: path
        description: Bill ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /bills/{billId}:
    put:
      tags:
      - Bills
      summary: Update a Bill
      description: 'Update an existing bill.


        Required permission:

        BILLS - Write'
      operationId: updateBill
      parameters:
      - name: billId
        in: path
        description: Bill ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SaveBill'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
components:
  schemas:
    SaveCredit:
      type: object
      required:
      - billDate
      - billSplits
      - vendorID
      properties:
        billDate:
          type: string
          format: date
          description: Credit Date.
        billSplits:
          type: array
          description: Splits list.
          items:
            $ref: '#/components/schemas/SaveBillSplit'
        comments:
          type: string
          description: Description.
        refNo:
          type: string
          description: Reference number.
        vendorID:
          type: integer
          format: int64
          description: Related vendor ID.
        workOrderID:
          type: integer
          format: int64
          description: Related workorder ID.
      description: SaveCredit
    BillPayment:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: Payment amount.
        bills:
          type: array
          description: List of bills that were paid.
          items:
            $ref: '#/components/schemas/BillPaid'
        checkNumber:
          type: string
          description: Payment check number.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        lines:
          type: array
          description: A collection of payment line items.
          items:
            $ref: '#/components/schemas/LineItem'
        memo:
          type: string
          description: Memo.
        nameOnCheck:
          type: string
          description: Name on check.
        paymentAccountID:
          type: integer
          format: int64
          description: Id of the payment general ledger account.
        paymentDate:
          type: string
          format: date
          description: Payment date.
        paymentMethod:
          type: string
          description: Payment method.
          enum:
          - PAYMENT_METHOD_CHECK
          - PAYMENT_METHOD_CASH
          - PAYMENT_METHOD_BANK_BILL_PAY
          - PAYMENT_METHOD_ONLINE_BANK_TRANSFER
        toBePrinted:
          type: boolean
          example: false
          description: Indicates if the check should be printed.
        vendorID:
          type: integer
          format: int64
          description: Id of the vendor associated with this payment.
      description: BillPayment
    SplitPay:
      type: object
      properties:
        amountToPay:
          type: number
          format: double
          description: Amount to pay.
        id:
          type: integer
          format: int64
          description: Unique identifier.
    Check:
      type: object
      required:
      - amount
      - date
      properties:
        amount:
          type: number
          format: double
          description: Amount.
        checkSplits:
          type: array
          description: List of check splits.
          items:
            $ref: '#/components/schemas/CheckSplit'
        comments:
          type: string
          description: Comments.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        date:
          type: string
          format: date
          description: Post date.
        destinationAccountID:
          type: integer
          format: int64
          description: ID of the bank general ledger account where the payment will be made from.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        payeePayer:
          type: string
          description: Name of the payee or payer.
        paymentType:
          type: string
          description: Type of payment.
        portfolioID:
          type: integer
          format: int64
          description: Id of the portfolio associated with this transaction.
        refNo:
          type: string
          description: Reference number.
        toBePrinted:
          type: boolean
          example: false
          description: Indicates if the check is to be printed.
        vendorID:
          type: integer
          format: int64
          description: Id of the vendor associated with this check.
      description: Vendor Check
    BillSplit:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: Amount.
        amountPaid:
          type: number
          format: double
          description: Amount paid.
        buildingAbbr:
          type: string
          description: Abbreviation of the building associated with this bill split.
        buildingID:
          type: integer
          format: int64
          description: Id of the building associated with this bill split.
        comments:
          type: string
          description: Comments regarding the bill split.
        glAccountID:
          type: integer
          format: int64
          description: Id of the general ledger account associated with this bill split.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        markupDiscountSplit:
          type: boolean
          example: false
          description: Indicates if the bill split is tied to a markup discount.
        paid:
          type: boolean
          example: false
          description: Indicates if the bill split has been paid.
        portfolioAbbr:
          type: string
          description: Abbreviation of the portfolio associated with this bill split.
        portfolioID:
          type: integer
          format: int64
          description: Id of the portfolio associated with this bill split.
        unitAbbr:
          type: string
          description: Abbreviation of the unit associated with this bill split.
        unitID:
          type: integer
          format: int64
          description: Id of the unit associated with this bill split.
      description: BillSplit
    SaveBillSplit:
      type: object
      required:
      - amount
      - glAccountID
      - portfolioID
      properties:
        amount:
          type: number
          format: double
          description: Split amount.
        amountPaid:
          type: number
          format: double
          description: Split amount paid.
        buildingID:
          type: integer
          format: int64
          description: Building ID associated to split.
        comments:
          type: string
          description: Split comments.
        glAccountID:
          type: integer
          format: int64
          description: Split GL Account ID.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        markupDiscountSplit:
          type: boolean
          example: false
          description: Indicates if markup discount split.
        paid:
          type: boolean
          example: false
          description: Indicates if Bill Split is paid.
        portfolioID:
          type: integer
          format: int64
          description: Portfolio ID associated to split.
        unitID:
          type: integer
          format: int64
          description: Unit ID associated to split.
      description: Split
    SaveBill:
      type: object
      required:
      - billDate
      - billSplits
      - dueDate
      - vendorID
      properties:
        billDate:
          type: string
          format: date
          description: Bill date.
        billNumber:
          type: integer
          format: int32
          description: Bill number.
        billSplits:
          type: array
          description: Splits list.
          items:
            $ref: '#/components/schemas/SaveBillSplit'
        comments:
          type: string
          description: Description.
        dueDate:
          type: string
          format: date
          description: Bill Due date.
        markupAccountID:
          type: integer
          format: int64
          description: Markup general ledger account ID.
        markupPercentage:
          type: number
          format: double
          description: Markup percentage.
        paymentDate:
          type: string
          format: date
          description: Payment Date.
        refNo:
          type: string
          description: Reference number.
        terms:
          type: string
          description: Bill terms.
        vendorID:
          type: integer
          format: int64
          description: Related vendor ID.
        workOrderID:
          type: integer
          format: int64
          description: WorkOrder ID associated to this Bill.
      description: Bill
    SplitPaid:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: Amount.
        amountPaid:
          type: number
          format: double
          description: Total amount paid for this line item.
        amountPaidByBillPayment:
          type: number
          format: double
          description: Amount that was paid in this payment.
        buildingID:
          type: integer
          format: int64
          description: Id of the building associated with this line item.
        comments:
          type: string
          description: Comments.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        paid:
          type: boolean
          example: false
          description: Indicates if this line item is paid.
        portfolioID:
          type: integer
          format: int64
          description: Id of the portfolio associated with this line item.
        unitID:
          type: integer
          format: int64
          description: Id of the unit associated with this line item.
    Bill:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: Amount.
        billDate:
          type: string
          format: date
          description: Entry date.
        billNumber:
          type: integer
          format: int32
          description: Number.
        billSplits:
          type: array
          description: List of bill splits.
          items:
            $ref: '#/components/schemas/BillSplit'
        comments:
          type: string
          description: Description.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        credit:
          type: boolean
          example: false
          description: Indicates if the bill is a vendor credit.
        dueDate:
          type: string
          format: date
          description: Due date.
        expenseRecoveries:
          type: array
          description: List of expense recoveries
          items:
            $ref: '#/components/schemas/ExpenseRecoveryCharge'
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        markupGLAccountID:
          type: integer
          format: int64
          description: The ID of the markup/discount general ledger account associated with the bill.
        markupPercentage:
          type: number
          format: double
          description: The markup percentage.
        paymentDate:
          type: string
          format: date
          description: Date the bill was paid.
        refNo:
          type: string
          description: Reference number.
        terms:
          type: string
          description: Bill terms.
        vendorID:
          type: integer
          format: int64
          description: The ID of the vendor related to the bill.
        workOrderID:
          type: integer
          format: int64
          description: The ID of the work order associated with the bill.
      description: Bill
    RESTAPIError:
      type: object
      properties:
        key:
          type: string
        message:
          type: string
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        userMessage:
          type: string
    SaveCheckSplit:
      type: object
      required:
      - glAccountID
      - portfolioID
      properties:
        amount:
          type: number
          format: double
          description: Check Split amount.
        buildingID:
          type: integer
          format: int64
          description: Check Location Building ID.
        comments:
          type: string
          description: CheckSplit Comments.
        glAccountID:
          type: integer
          format: int64
          description: Split GL Account ID.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        portfolioID:
          type: integer
          format: int64
          description: Portfolio id to apply payment.
        unitID:
          type: integer
          format: int64
          description: Check Location Unit ID.
      description: SaveCheckfor Request
    SaveBillPayment:
      type: object
      properties:
        bills:
          type: array
          description: Bills to pay.
          items:
            $ref: '#/components/schemas/BillPay'
        checkNumber:
          type: string
          description: Payment check number.
        memo:
          type: string
          description: Memo.
        paymentAccountID:
          type: integer
          format: int64
          description: Bank Account to pay from.
        paymentDate:
          type: string
          format: date
          description: Payment Date.
        paymentMethod:
          type: string
          description: Payment method.
          enum:
          - Check
          - Cash
          - Bank Bill Pay
          - Online Bank Transfer
        vendorID:
          type: integer
          format: int64
          description: Vendor ID to Pay.
    ResponseEntity:
      type: object
      properties:
        body:
          type: object
        statusCode:
          type: string
          enum:
          - '100'
          - '101'
          - '102'
          - '103'
          - '200'
          - '201'
          - '202'
          - '203'
          - '204'
          - '205'
          - '206'
          - '207'
          - '208'
          - '226'
          - '300'
          - '301'
          - '302'
          - '303'
          - '304'
          - '305'
          - '307'
          - '308'
          - '400'
          - '401'
          - '402'
          - '403'
          - '404'
          - '405'
          - '406'
          - '407'
          - '408'
          - '409'
          - '410'
          - '411'
          - '412'
          - '413'
          - '414'
          - '415'
          - '416'
          - '417'
          - '418'
          - '419'
          - '420'
          - '421'
          - '422'
          - '423'
          - '424'
          - '426'
          - '428'
          - '429'
          - '431'
          - '500'
          - '501'
          - '502'
          - '503'
          - '504'
          - '505'
          - '506'
          - '507'
          - '508'
          - '509'
          - '510'
          - '511'
    BillPay:
      type: object
      properties:
        billSplits:
          type: array
          description: Bill splits list.
          items:
            $ref: '#/components/schemas/SplitPay'
        id:
          type: integer
          format: int64
          description: Unique identifier.
    SaveCheck:
      type: object
      required:
      - checkDate
      - destinationAccountID
      properties:
        checkDate:
          type: string
          format: date
          description: Check Date.
        checkSplits:
          type: array
          description: Check Split list.
          items:
            $ref: '#/components/schemas/SaveCheckSplit'
        comments:
          type: string
          description: Comments.
        destinationAccountID:
          type: integer
          format: int64
          description: ID of the bank general ledger account where the payment will be made from.
        refNo:
          type: string
          description: Check Ref No.
        toBePrinted:
          type: boolean
          example: false
          description: Indicates if Check is to be printed.
        vendorID:
          type: integer
          format: int64
          description: Id of the vendor associated with this check.
      description: VendorCheck
    LineItem:
      type: object
      properties:
        buildingID:
          type: integer
          format: int64
          description: Id of the building associated with this entry.
        credit:
          type: number
          format: double
          description: Credit amount.
        debit:
          type: number
          format: double
          description: Debit amount.
        glAccountID:
          type: integer
          format: int64
          description: Id of the general ledger account associated with this entry.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        portfolioID:
          type: integer
          format: int64
          description: Id of the portfolio associated with this entry.
        unitID:
          type: integer
          format: int64
          description: Id of the unit associated with this entry.
      description: Payment line items
    RESTAPIBulkSuccessResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
    ExpenseRecoveryCharge:
      type: object
      required:
      - amount
      - date
      properties:
        amount:
          type: number
          format: double
          description: Amount.
        comments:
          type: string
          description: Comments.
        date:
          type: string
          format: date
          description: Post date.
        glAccountID:
          type: integer
          format: int64
          description: Id of the general ledger account associated with this charge.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        leaseID:
          type: integer
          format: int64
          description: Id of the lease associated with this charge.
    BillPaid:
      type: object
      properties:
        billDate:
          type: string
          format: date
          description: Bill date.
        billNumber:
          type: integer
          format: int32
          description: Bill number.
        billSplits:
          type: array
          description: List of bill splits.
          items:
            $ref: '#/components/schemas/SplitPaid'
        id:
          type: integer
          format: int64
          description: Unique identifier.
    RESTAPIBulkErrorResponse:
      type: object
      properties:
        error:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        index:
          type: integer
          format: int32
        success:
          type: boolean
    CheckSplit:
      type: object
      required:
      - portfolioID
      properties:
        amount:
          type: number
          format: double
          description: Amount.
        buildingID:
          type: integer
          format: int64
          description: Id of the building associated with this check split.
        comments:
          type: string
          description: Comments.
        glAccountID:
          type: integer
          format: int64
          description: Id of the general ledger account associated with this check split.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        portfolioID:
          type: integer
          format: int64
          description: Id of the portfolio associated with this check split.
        unitID:
          type: integer
          format: int64
          description: Id of the unit associated with this check split.
      description: VendorCheckSplit
  requestBodies:
    SaveCheck:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveCheck'
      description: saveCheck
      required: true
    SaveBillPayment:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveBillPayment'
      description: saveBillPayment
      required: true
    SaveBill:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveBill'
      description: saveBill
      required: true
    SaveCredit:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveCredit'
      description: saveCredit
      required: true
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: x-propertyware-client-id
    clientSecret:
      type: apiKey
      in: header
      name: x-propertyware-client-secret
    organizationId:
      type: apiKey
      in: header
      name: x-propertyware-system-id
