openapi: 3.2.0
info:
  description: "\uFEFF\n\n# Introduction\n\nWelcome to Propertyware’s API—a powerful, RESTful programming interface that lets you leverage valuable Propertyware data."
  version: '1.0'
  title: Open API, powered by Propertyware Prospects API
  contact:
    name: Propertyware
    email: support@propertyware.com
  x-logo:
    url: logo.png
    backgroundColor: '#fff'
    altText: Propertyware, A RealPage Company
    href: https://www.propertyware.com
servers:
- url: https://api.propertyware.com/pw/api/rest/v1
security:
- clientId: []
- clientSecret: []
- organizationId: []
tags:
- name: Prospects
  description: Resources providing access to prospects.
paths:
  /prospects:
    get:
      tags:
      - Prospects
      summary: Retrieve all prospects
      description: 'Retrieves a list of prospects.


        Required permission:

        PROSPECTS - Read


        Sortable by: createddate, type, lastmodifieddatetime, status, id'
      operationId: getProspects
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: Filters results to prospects with a specific status.
        required: false
        schema:
          type: string
      - name: portfolioID
        in: query
        description: Filters results to prospects associated with a specific portfolio.
        required: false
        schema:
          type: integer
          format: int64
      - name: buildingID
        in: query
        description: Filters results to prospects associated with a specific building.
        required: false
        schema:
          type: integer
          format: int64
      - name: type
        in: query
        description: Filters results to prospects with a specific type.
        required: false
        schema:
          type: string
      - name: includeCustomFields
        in: query
        description: includeCustomFields
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Prospect'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Prospects
      summary: Create a prospect
      description: 'Creates a specific prospect.


        Required permission:

        PROSPECTS - Write'
      operationId: createProspect
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveProspect'
        description: saveProspect
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prospect'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /prospects/bulk:
    post:
      tags:
      - Prospects
      summary: Create prospects in bulk
      description: 'Creates prospects in bulk.


        Required permission:

        UNITS - Write'
      operationId: createContactsUsingPOST_2
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SaveProspect'
        description: saveProspect
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkSuccessResponse'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /prospects/customfields:
    put:
      tags:
      - Prospects
      summary: Update a prospect custom fields (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Updates an existing prospect custom fields


        Required permission:

        PROSPECTS - Write'
      operationId: updateLeaseUsingPUT_2
      requestBody:
        $ref: '#/components/requestBodies/SaveCustomField'
      responses:
        '200':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /prospects/statuses:
    get:
      tags:
      - Prospects
      summary: Retrieve all prospect statuses
      description: 'Retrieves a list of all prospect statuses


        Required permission:

        PROSPECTS - Read'
      operationId: getProspectStatuses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProspectStatus'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /prospects/{prospectID}:
    get:
      tags:
      - Prospects
      summary: Retrieve a prospect
      description: 'Retrieves a specific prospect.


        Required permission:

        PROSPECTS - Read'
      operationId: getProspect
      parameters:
      - name: prospectID
        in: path
        description: Prospect ID
        required: true
        schema:
          type: integer
          format: int64
      - name: includeCustomFields
        in: query
        description: includeCustomFields
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prospect'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /prospects/{prospectID}/campaign:
    get:
      tags:
      - Prospects
      summary: Retrieve prospect campaign
      description: 'Retrieves the campaign details of a prospect.


        Required permission:

        PROSPECTS - Read'
      operationId: getProspectCampaign
      parameters:
      - name: prospectID
        in: path
        description: Prospect ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /prospects/{prospectID}/conversations:
    get:
      tags:
      - Prospects
      summary: Retrieve all prospect conversations
      description: 'Retrieves all the conversations of a prospect.


        Required permission:

        PROSPECTS - Read


        Sortable by: createddate, lastmodifieddatetime, id'
      operationId: getProspectConversations
      parameters:
      - name: prospectID
        in: path
        description: Prospect ID
        required: true
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: Filters results by the conversation type.
        required: false
        schema:
          type: string
          enum:
          - MANAGEMENT_TEAM
          - OWNER
          - TENANT
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conversation'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    post:
      tags:
      - Prospects
      summary: Create a prospect conversation
      description: 'Creates a specific prospect conversation.


        Required permission:

        PROSPECTS - Write'
      operationId: createProspectConversation
      parameters:
      - name: prospectID
        in: path
        description: Prospect ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SaveConversation'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /prospects/{prospectID}/conversations/{conversationID}:
    get:
      tags:
      - Prospects
      summary: Retrieve a prospect conversation
      description: 'Retrieves a specific prospect conversation.


        Required permission:

        PROSPECTS - Read'
      operationId: getProspectConversation
      parameters:
      - name: prospectID
        in: path
        description: Prospect ID
        required: true
        schema:
          type: integer
          format: int64
      - name: conversationID
        in: path
        description: Conversation ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    delete:
      tags:
      - Prospects
      summary: Delete a prospect conversation (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Deletes a specific prospect conversation.


        Required permission:

        PROSPECTS - Delete'
      operationId: deleteProspectConversation
      parameters:
      - name: prospectID
        in: path
        description: Prospect ID
        required: true
        schema:
          type: integer
          format: int64
      - name: conversationID
        in: path
        description: Conversation ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
components:
  schemas:
    SaveCustomField:
      type: object
      required:
      - entityId
      - fieldSet
      properties:
        entityId:
          type: integer
          format: int64
          description: Unique identifier of an entity custom field associated to.
        fieldSet:
          type: array
          description: List of Custom fields to update
          items:
            $ref: '#/components/schemas/CustomFieldSet'
      description: Custom field for Request
    CustomFieldSet:
      type: object
      required:
      - name
      - value
      properties:
        name:
          type: string
          description: Custom Field name
        value:
          type: string
          description: Custom Field value
      description: Custom field set for Request
    SaveProspectContact:
      type: object
      required:
      - firstName
      - lastName
      properties:
        address:
          $ref: '#/components/schemas/SaveAddress'
        email:
          type: string
          description: ' EMail.'
        firstName:
          type: string
          description: First Name.
        homePhone:
          type: string
          description: ' Home Phone.'
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastName:
          type: string
          description: ' Last Name.'
        mobilePhone:
          type: string
          description: ' Mobile Phone.'
        otherPhone:
          type: string
          description: ' Other Phone.'
        percentageship:
          type: number
          format: double
          description: ship percentage.
        workPhone:
          type: string
          description: ' Work Phone.'
      description: Save Prospect Contact
    Conversation:
      type: object
      properties:
        comments:
          type: array
          description: List of comments in the conversation.
          items:
            $ref: '#/components/schemas/Comment'
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        entityID:
          type: integer
          format: int64
          description: Id of the entity related to this conversation.
        entityType:
          type: string
          description: Type of the entity related to this conversation.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        subject:
          type: string
          description: Conversation subject.
        type:
          type: string
          description: Conversation type.
          enum:
          - MANAGEMENT_TEAM
          - OWNER
          - TENANT
      description: Conversation
    CampaignSource:
      type: object
      properties:
        callTrackingGroupID:
          type: string
          description: Call tracking group id.
        default:
          type: boolean
        id:
          type: integer
          format: int64
          description: Unique identifier.
        name:
          type: string
          description: Name of the campaign source.
        referrerDomain:
          type: string
          description: Referrer domain.
      description: CampaignSource
    SaveConversation:
      type: object
      required:
      - text
      - type
      properties:
        text:
          type: string
          description: Comment text.
        type:
          type: string
          description: Conversation type.
          enum:
          - MANAGEMENT_TEAM
          - OWNER
          - TENANT
      description: Conversation for Request
    RESTAPIError:
      type: object
      properties:
        key:
          type: string
        message:
          type: string
    ProspectStatus:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier.
        readonly:
          type: boolean
          example: false
          description: Read Only
        status:
          type: string
          description: Status
        visibleOnPortal:
          type: boolean
          example: false
          description: Status visible On Portal
      description: Prospect Status
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        userMessage:
          type: string
    ResponseEntity:
      type: object
      properties:
        body:
          type: object
        statusCode:
          type: string
          enum:
          - '100'
          - '101'
          - '102'
          - '103'
          - '200'
          - '201'
          - '202'
          - '203'
          - '204'
          - '205'
          - '206'
          - '207'
          - '208'
          - '226'
          - '300'
          - '301'
          - '302'
          - '303'
          - '304'
          - '305'
          - '307'
          - '308'
          - '400'
          - '401'
          - '402'
          - '403'
          - '404'
          - '405'
          - '406'
          - '407'
          - '408'
          - '409'
          - '410'
          - '411'
          - '412'
          - '413'
          - '414'
          - '415'
          - '416'
          - '417'
          - '418'
          - '419'
          - '420'
          - '421'
          - '422'
          - '423'
          - '424'
          - '426'
          - '428'
          - '429'
          - '431'
          - '500'
          - '501'
          - '502'
          - '503'
          - '504'
          - '505'
          - '506'
          - '507'
          - '508'
          - '509'
          - '510'
          - '511'
    CustomField:
      type: object
      properties:
        dataType:
          type: string
          description: Data type of the custom field.
        definitionID:
          type: integer
          format: int64
          description: Id of the custom field definition.
        fieldName:
          type: string
          description: Name of the custom field.
        value:
          type: string
          description: Value of the custom field.
      description: Custom field.
    RESTAPIBulkSuccessResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
    Prospect:
      type: object
      properties:
        applicationFeePaid:
          type: boolean
          example: false
          description: Indicates if the application fee has been paid by the prospect.
        assigneFullName:
          type: string
          description: Name of the assigned prospect.
        buildingID:
          type: integer
          format: int64
          description: Id of the building associated with the prospect.
        cityDesired:
          type: string
          description: Desired city.
        comments:
          type: string
          description: Indicates if the prospect has any comments.
        contacts:
          type: array
          description: Contacts of the prospect
          items:
            $ref: '#/components/schemas/ProspectContact'
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        currentHomeType:
          type: string
          description: Current home type.
        currentRentMortgage:
          type: number
          format: double
          description: Current home mortgage.
        customFields:
          type: array
          description: Custom fields.
          items:
            $ref: '#/components/schemas/CustomField'
        hasPets:
          type: boolean
          example: false
          description: Indicates if the prospect has pets.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        leaseEndDate:
          type: string
          format: date
          description: Confirmed lease end date.
        leaseStartDate:
          type: string
          format: date
          description: Confirmed lease start date.
        moveInDate:
          type: string
          format: date
          description: Desired move-in date.
        neighborhoodDesired:
          type: string
          description: Desired neighborhood.
        numberBathrooms:
          type: number
          format: double
          description: Number of bathrooms desired by the prospect.
        numberBedrooms:
          type: integer
          format: int32
          description: Number of bedrooms desired by the prospect.
        numberOfPets:
          type: integer
          format: int32
          description: Number of pets.
        petType:
          type: string
          description: Pet type.
        petWeights:
          type: string
          description: Pet weights.
        portfolioID:
          type: integer
          format: int64
          description: Id of the portfolio associated with the prospect.
        preferredContactMethod:
          type: string
          description: Preferred contact method.
        propertyAddress:
          type: string
          description: Address of the property.
        propertyAddress2:
          type: string
          description: Additional address information of the property.
        propertyArea:
          type: number
          format: double
          description: Area of the property.
        propertyAreaUnits:
          type: string
          description: Unit of measurement for the area of the property.
        propertyCity:
          type: string
          description: City of the property.
        propertyCountry:
          type: string
          description: Country of the property.
        propertyNumberBathrooms:
          type: number
          format: double
          description: Number of bathrooms.
        propertyNumberBedrooms:
          type: integer
          format: int32
          description: Number of bedrooms.
        propertyState:
          type: string
          description: State of the property.
        propertyZip:
          type: string
          description: Zip code of the property.
        reasonForMoving:
          type: string
          description: Reason for moving.
        rent:
          type: number
          format: double
          description: Confirmed lease rent.
        rentMax:
          type: number
          format: double
          description: Maximum desired rent.
        rentMin:
          type: number
          format: double
          description: Minimum desired rent.
        securityDeposit:
          type: number
          format: double
          description: Confirmed lease security deposit.
        source:
          type: string
          description: Prospect source.
        stateDesired:
          type: string
          description: Desired state.
        status:
          type: string
          description: Status.
        timeAtCurrentResidence:
          type: string
          description: Time the prospect is living at the current residence.
        type:
          type: string
          description: Prospect type.
        typeOfInquiry:
          type: string
          description: Type of inquiry made by the prospect.
        unitDesired:
          type: string
          description: Desired unit.
        unitID:
          type: integer
          format: int64
          description: Id of the unit associated with the prospect.
        unitTypeDesired:
          type: string
          description: Desired unit type.
        zipDesired:
          type: string
          description: Desired zip code.
      description: Prospect
    SaveAddress:
      type: object
      required:
      - country
      properties:
        address:
          type: string
          description: Primary street and/or unit address. Required only if country is USA or Canada.
          minLength: 0
          maxLength: 50
        addressCont:
          type: string
          description: Address continuation.
          minLength: 0
          maxLength: 20
        city:
          type: string
          description: City. Required only if Country is United States / Canada.
          minLength: 0
          maxLength: 30
        country:
          type: string
          description: Country. For US addresses, this value should be "United States". For other countries, this should be the full country name (Canada, United Kingdom, ...)
          minLength: 0
          maxLength: 30
        postalCode:
          type: string
          description: Zip. Required only if Country is United States / Canada.
          minLength: 0
          maxLength: 20
        stateRegion:
          type: string
          description: State. Required only if Country is United States / Canada.
          minLength: 0
          maxLength: 20
      description: Address.
    Comment:
      type: object
      properties:
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        text:
          type: string
          description: Comment text.
      description: Comment
    RESTAPIBulkErrorResponse:
      type: object
      properties:
        error:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        index:
          type: integer
          format: int32
        success:
          type: boolean
    ProspectContact:
      type: object
      properties:
        email:
          type: string
          description: E-mail address.
        firstName:
          type: string
          description: First name.
        homePhone:
          type: string
          description: Home phone.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastName:
          type: string
          description: Last name.
        mobilePhone:
          type: string
          description: Mobile phone.
        role:
          type: string
          description: Role.
        workPhone:
          type: string
          description: Work phone.
      description: Contact of the prospect
    SaveProspect:
      type: object
      properties:
        buildingID:
          type: integer
          format: int64
          description: Unique identifier of the building associated with the prospect.
        comments:
          type: string
          description: This is a description of the Prospect.
        contacts:
          type: array
          description: Prospect contacts.
          items:
            $ref: '#/components/schemas/SaveProspectContact'
        currentHomeType:
          type: string
          description: Prospect Current Home Type.
        currentRentMortgage:
          type: number
          format: double
          description: Prospect Current Home Mortgage.
        hasPets:
          type: boolean
          example: false
          description: Prospect Has Pets.
        moveInDate:
          type: string
          format: date
          description: Prospect Move In Date.
        neighborhoodDesired:
          type: string
          description: Prospect Neighborhood Desired.
        numberBathrooms:
          type: number
          format: double
          description: Prospect Number Of Bathrooms.
        numberBedrooms:
          type: integer
          format: int32
          description: Prospect Number Of Bedrooms.
        numberOfPets:
          type: integer
          format: int32
          description: Prospect Number Of Pets.
        petType:
          type: string
          description: Prospect Pet Type.
        petWeights:
          type: string
          description: Prospect Pet Weights.
        preferredContactMethod:
          type: string
          description: Prospect Preferred Contact Method.
        propertyAddress:
          type: string
          description: Property Address.
        propertyAddress2:
          type: string
          description: Property Address Continued.
        propertyCity:
          type: string
          description: Property City.
        propertyCountry:
          type: string
          description: Property Country.
        propertyNumberBathrooms:
          type: number
          format: double
          description: Property Number Of Bath rooms.
        propertyNumberBedrooms:
          type: integer
          format: int32
          description: Property Number Of Bedrooms.
        propertyState:
          type: string
          description: Property State.
        propertyZip:
          type: string
          description: Property Zip.
        reasonForMoving:
          type: string
          description: Prospect Reason For Moving.
        rentMax:
          type: number
          format: double
          description: Prospect Rent Maximum.
        rentMin:
          type: number
          format: double
          description: Prospect Rent Minimum.
        source:
          type: string
          description: Prospect Source.
        status:
          type: string
          description: Prospect Status.
        timeAtCurrentResidence:
          type: string
          description: Prospect Time At Current Residence.
        type:
          type: string
          description: Prospect Type.
        typeOfInquiry:
          type: string
          description: Prospect Type Of Inquiry.
      description: 'Save Prospect '
    Campaign:
      type: object
      properties:
        acceptedCallTrackingTerms:
          type: boolean
          example: false
          description: Indicates if the call tracking terms have been accepted.
        callTrackingCampaignID:
          type: string
          description: Campaign ID used for call tracking.
        callTrackingEnabled:
          type: boolean
          example: false
          description: Indicates if call tracking is enabled for the campaign.
        callTrackingForwar:
          type: string
          description: Number to which call tracking calls are forwarded.
        callTrackingForwarAfterHours:
          type: string
          description: Number to which call tracking calls are forwarded after hours.
        callTrackingPhoneNumber:
          type: string
          description: Phone number used for call tracking.
        callTrackingReferrer:
          type: string
          description: Referrer for call tracking.
        callTrackingSearchPhrase:
          type: string
          description: Search phrase for call tracking.
        campaignSource:
          $ref: '#/components/schemas/CampaignSource'
        code:
          type: string
          description: Code of the campaign.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        customFields:
          type: array
          description: Custom fields.
          items:
            $ref: '#/components/schemas/CustomField'
        description:
          type: string
          description: Description of the campaign.
        endDate:
          type: string
          format: date
          description: End date of the campaign.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        name:
          type: string
          description: Name of the campaign.
        startDate:
          type: string
          format: date
          description: Start date of the campaign.
        targetProspectType:
          type: string
          description: Type of the targeted prospect.
        timezone:
          type: string
          description: Time zone of the campaign.
      description: Campaign
  requestBodies:
    SaveCustomField:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveCustomField'
      description: saveCustomField
      required: true
    SaveConversation:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveConversation'
      description: saveConversation
      required: true
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: x-propertyware-client-id
    clientSecret:
      type: apiKey
      in: header
      name: x-propertyware-client-secret
    organizationId:
      type: apiKey
      in: header
      name: x-propertyware-system-id
