openapi: 3.2.0
info:
  description: "\uFEFF\n\n# Introduction\n\nWelcome to Propertyware’s API—a powerful, RESTful programming interface that lets you leverage valuable Propertyware data."
  version: '1.0'
  title: Open API, powered by Propertyware Contacts API
  contact:
    name: Propertyware
    email: support@propertyware.com
  x-logo:
    url: logo.png
    backgroundColor: '#fff'
    altText: Propertyware, A RealPage Company
    href: https://www.propertyware.com
servers:
- url: https://api.propertyware.com/pw/api/rest/v1
security:
- clientId: []
- clientSecret: []
- organizationId: []
tags:
- name: Contacts
  description: Resources providing access to contacts.
paths:
  /contacts:
    get:
      tags:
      - Contacts
      summary: Retrieve all contacts
      description: 'Retrieves a list of contacts.


        Required permission:

        CONTACTS - Read


        Sortable by: firstname, createddate, lastname, email, type, lastmodifieddatetime, id'
      operationId: getContacts
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: Filters results by the contact type.
        required: false
        schema:
          type: string
          enum:
          - TENANT
          - PROSPECT
          - OWNER
          - VENDOR
          - OTHER
      - name: includeCustomFields
        in: query
        description: includeCustomFields
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Contact'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Contacts
      summary: Create a contact
      description: 'Creates a contact.


        Required permission:

        CONTACTS - Write'
      operationId: createContact
      requestBody:
        $ref: '#/components/requestBodies/SaveContact'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /contacts/bulk:
    post:
      tags:
      - Contacts
      summary: Create contacts in bulk
      description: 'Creates contacts in bulk.


        Required permission:

        CONTACTS - Write'
      operationId: createContactsUsingPOST_1
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SaveContact'
        description: saveContact
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkSuccessResponse'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /contacts/categories:
    get:
      tags:
      - Contacts
      summary: Retrieve all contact categories
      description: 'Retrieves a list of contact categories.


        Required permission:

        CONTACTS - Read'
      operationId: getContactCategories
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactCategory'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /contacts/customfields:
    put:
      tags:
      - Contacts
      summary: Update a contact custom fields (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Updates an existing contact custom fields


        Required permission:

        CONTACTS - Write'
      operationId: updateContact
      requestBody:
        $ref: '#/components/requestBodies/SaveCustomField'
      responses:
        '200':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /contacts/{contactID}:
    get:
      tags:
      - Contacts
      summary: Retrieve a contact
      description: 'Retrieves a specific contact.


        Required permission:

        CONTACTS - Read'
      operationId: getContact
      parameters:
      - name: contactID
        in: path
        description: Contact ID
        required: true
        schema:
          type: integer
          format: int64
      - name: includeCustomFields
        in: query
        description: includeCustomFields
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    put:
      tags:
      - Contacts
      summary: Update a contact
      description: 'Updates a contact.


        Required permission:

        CONTACTS - Write'
      operationId: updateContactUsingPUT_1
      parameters:
      - name: contactID
        in: path
        description: Contact ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SaveContact'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    delete:
      tags:
      - Contacts
      summary: Delete a contact (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Deletes a contact.


        Required permission:

        CONTACTS - Delete'
      operationId: deleteContact
      parameters:
      - name: contactID
        in: path
        description: Contact ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /contacts/{contactID}/conversations:
    get:
      tags:
      - Contacts
      summary: Retrieve all contact conversations
      description: 'Retrieves all the conversations of a contact.


        Required permission:

        CONTACTS - Read


        Sortable by: createddate, lastmodifieddatetime, id'
      operationId: getContactConversations
      parameters:
      - name: contactID
        in: path
        description: Contact ID
        required: true
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: Filters results by the conversation type.
        required: false
        schema:
          type: string
          enum:
          - MANAGEMENT_TEAM
          - OWNER
          - TENANT
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conversation'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /contacts/{contactID}/conversations/{conversationID}:
    get:
      tags:
      - Contacts
      summary: Retrieve a contact conversation
      description: 'Retrieves a specific contact conversation.


        Required permission:

        CONTACTS - Read'
      operationId: getContactConversation
      parameters:
      - name: contactID
        in: path
        description: Contact ID
        required: true
        schema:
          type: integer
          format: int64
      - name: conversationID
        in: path
        description: Conversation ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    delete:
      tags:
      - Contacts
      summary: Delete a contact conversation (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Deletes a specific contact conversation.


        Required permission:

        CONTACTS - Delete'
      operationId: deleteContactConversation
      parameters:
      - name: contactID
        in: path
        description: Contact ID
        required: true
        schema:
          type: integer
          format: int64
      - name: conversationID
        in: path
        description: Conversation ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
components:
  schemas:
    SaveAddress:
      type: object
      required:
      - country
      properties:
        address:
          type: string
          description: Primary street and/or unit address. Required only if country is USA or Canada.
          minLength: 0
          maxLength: 50
        addressCont:
          type: string
          description: Address continuation.
          minLength: 0
          maxLength: 20
        city:
          type: string
          description: City. Required only if Country is United States / Canada.
          minLength: 0
          maxLength: 30
        country:
          type: string
          description: Country. For US addresses, this value should be "United States". For other countries, this should be the full country name (Canada, United Kingdom, ...)
          minLength: 0
          maxLength: 30
        postalCode:
          type: string
          description: Zip. Required only if Country is United States / Canada.
          minLength: 0
          maxLength: 20
        stateRegion:
          type: string
          description: State. Required only if Country is United States / Canada.
          minLength: 0
          maxLength: 20
      description: Address.
    Comment:
      type: object
      properties:
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        text:
          type: string
          description: Comment text.
      description: Comment
    RESTAPIBulkErrorResponse:
      type: object
      properties:
        error:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        index:
          type: integer
          format: int32
        success:
          type: boolean
    Address:
      type: object
      properties:
        address:
          type: string
          description: Primary street and/or unit address.
        addressCont:
          type: string
          description: Address continuation.
        city:
          type: string
          description: City.
        country:
          type: string
          description: Country.
        postalCode:
          type: string
          description: Postal code.
        stateRegion:
          type: string
          description: State/region.
      description: Address
    CustomFieldSet:
      type: object
      required:
      - name
      - value
      properties:
        name:
          type: string
          description: Custom Field name
        value:
          type: string
          description: Custom Field value
      description: Custom field set for Request
    SaveCustomField:
      type: object
      required:
      - entityId
      - fieldSet
      properties:
        entityId:
          type: integer
          format: int64
          description: Unique identifier of an entity custom field associated to.
        fieldSet:
          type: array
          description: List of Custom fields to update
          items:
            $ref: '#/components/schemas/CustomFieldSet'
      description: Custom field for Request
    Conversation:
      type: object
      properties:
        comments:
          type: array
          description: List of comments in the conversation.
          items:
            $ref: '#/components/schemas/Comment'
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        entityID:
          type: integer
          format: int64
          description: Id of the entity related to this conversation.
        entityType:
          type: string
          description: Type of the entity related to this conversation.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        subject:
          type: string
          description: Conversation subject.
        type:
          type: string
          description: Conversation type.
          enum:
          - MANAGEMENT_TEAM
          - OWNER
          - TENANT
      description: Conversation
    CustomField:
      type: object
      properties:
        dataType:
          type: string
          description: Data type of the custom field.
        definitionID:
          type: integer
          format: int64
          description: Id of the custom field definition.
        fieldName:
          type: string
          description: Name of the custom field.
        value:
          type: string
          description: Value of the custom field.
      description: Custom field.
    ResponseEntity:
      type: object
      properties:
        body:
          type: object
        statusCode:
          type: string
          enum:
          - '100'
          - '101'
          - '102'
          - '103'
          - '200'
          - '201'
          - '202'
          - '203'
          - '204'
          - '205'
          - '206'
          - '207'
          - '208'
          - '226'
          - '300'
          - '301'
          - '302'
          - '303'
          - '304'
          - '305'
          - '307'
          - '308'
          - '400'
          - '401'
          - '402'
          - '403'
          - '404'
          - '405'
          - '406'
          - '407'
          - '408'
          - '409'
          - '410'
          - '411'
          - '412'
          - '413'
          - '414'
          - '415'
          - '416'
          - '417'
          - '418'
          - '419'
          - '420'
          - '421'
          - '422'
          - '423'
          - '424'
          - '426'
          - '428'
          - '429'
          - '431'
          - '500'
          - '501'
          - '502'
          - '503'
          - '504'
          - '505'
          - '506'
          - '507'
          - '508'
          - '509'
          - '510'
          - '511'
    RESTAPIError:
      type: object
      properties:
        key:
          type: string
        message:
          type: string
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        userMessage:
          type: string
    Contact:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/Address'
        allowESignature:
          type: boolean
          example: false
          description: Indicates if the contact can receive eSignature request e-mail messages sent through Propertyware.
        altEmail:
          type: string
          description: Alternate e-mail address.
        birthDate:
          type: string
          format: date
          description: Date of birth.
        category:
          type: string
          description: Contact category.
        comments:
          type: string
          description: Comments.
        company:
          type: string
          description: Company where the contact is employed.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        customFields:
          type: array
          description: Custom fields.
          items:
            $ref: '#/components/schemas/CustomField'
        email:
          type: string
          description: E-mail address.
        fax:
          type: string
          description: Fax.
        firstName:
          type: string
          description: First name.
        gender:
          type: string
          description: Gender.
          enum:
          - UNKNOWN
          - MALE
          - FEMALE
          - DECLINE_TO_STATE
        homePhone:
          type: string
          description: Home phone.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        jobTitle:
          type: string
          description: Professional title or position for the contact.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        lastName:
          type: string
          description: Last name.
        middleName:
          type: string
          description: Middle name.
        mobilePhone:
          type: string
          description: Mobile phone.
        nameOnCheck:
          type: string
          description: Name on check.
        namedOnLease:
          type: boolean
          example: false
          description: Indicates if contact is named on lease.
        otherPhone:
          type: string
          description: Other phone.
        salutation:
          type: string
          description: Salutation.
        suffix:
          type: string
          description: Suffix.
        type:
          type: string
          description: Contact type.
          enum:
          - TENANT
          - PROSPECT
          - OWNER
          - VENDOR
          - OTHER
        workPhone:
          type: string
          description: Work phone.
      description: Contact Response
    RESTAPIBulkSuccessResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
    SaveContact:
      type: object
      required:
      - firstName
      - lastName
      properties:
        address:
          $ref: '#/components/schemas/SaveAddress'
        allowESignature:
          type: boolean
          example: false
          description: Indicate if the contact can receive eSignature request e-mail messages sent through Propertyware.
        altEmail:
          type: string
          description: Alternate Email Address.
        birthDate:
          type: string
          format: date
          description: Date of Birth.
        category:
          type: string
          description: Indicate contact category. Send empty "" value if contact is Uncategorized. Applicable only for CREATE Contact.
        comments:
          type: string
          description: Description.
        company:
          type: string
          description: Company where the contact is employed.
          minLength: 1
          maxLength: 75
        email:
          type: string
          description: E-mail Address.
        fax:
          type: string
          description: Fax.
        firstName:
          type: string
          description: First Name.
          minLength: 1
          maxLength: 30
        gender:
          type: string
          description: Gender.
          enum:
          - UNKNOWN
          - MALE
          - FEMALE
          - DECLINE_TO_STATE
        homePhone:
          type: string
          description: Home Phone.
          minLength: 1
          maxLength: 22
        jobTitle:
          type: string
          description: Professional title or position for the contact.
          minLength: 1
          maxLength: 75
        lastName:
          type: string
          description: Last Name.
          minLength: 1
          maxLength: 30
        middleName:
          type: string
          description: Middle Name.
          minLength: 1
          maxLength: 30
        mobilePhone:
          type: string
          description: Mobile Phone.
          minLength: 1
          maxLength: 22
        nameOnCheck:
          type: string
          description: Name On Check.
          minLength: 1
          maxLength: 100
        namedOnLease:
          type: boolean
          example: false
          description: Is Named On Lease.
        otherPhone:
          type: string
          description: Other Phone.
          minLength: 1
          maxLength: 22
        salutation:
          type: string
          description: 'Salutation. Allowed values are : '''', ''Mr.'', ''Mrs.'', ''Ms.'', ''Dr.'', ''Prof.'''
        searchTag:
          type: string
          description: SearchTag.
        suffix:
          type: string
          description: 'Suffix. Allowed values are : '''', ''Jr.'', ''Sr.'', ''I'', ''II'', ''III'', ''IV'''
        workPhone:
          type: string
          description: Work Phone.
          minLength: 1
          maxLength: 22
      description: Contact for Request
    ContactCategory:
      type: object
      properties:
        categoryName:
          type: string
          description: Category name.
        id:
          type: integer
          format: int64
          description: Unique identifier.
      description: ContactCategory
  requestBodies:
    SaveCustomField:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveCustomField'
      description: saveCustomField
      required: true
    SaveContact:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveContact'
      description: saveContact
      required: true
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: x-propertyware-client-id
    clientSecret:
      type: apiKey
      in: header
      name: x-propertyware-client-secret
    organizationId:
      type: apiKey
      in: header
      name: x-propertyware-system-id
