openapi: 3.2.0
info:
  description: "\uFEFF\n\n# Introduction\n\nWelcome to Propertyware’s API—a powerful, RESTful programming interface that lets you leverage valuable Propertyware data."
  version: '1.0'
  title: Open API, powered by Propertyware Health check API
  contact:
    name: Propertyware
    email: support@propertyware.com
  x-logo:
    url: logo.png
    backgroundColor: '#fff'
    altText: Propertyware, A RealPage Company
    href: https://www.propertyware.com
servers:
- url: https://api.propertyware.com/pw/api/rest/v1
security:
- clientId: []
- clientSecret: []
- organizationId: []
tags:
- name: Health Check
  description: API health check resources.
paths:
  /health:
    get:
      tags:
      - Health Check
      summary: Health check
      description: Indicates whether the API is up and running correctly.
      operationId: health
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    RESTAPIError:
      type: object
      properties:
        key:
          type: string
        message:
          type: string
    ResponseEntity:
      type: object
      properties:
        body:
          type: object
        statusCode:
          type: string
          enum:
          - '100'
          - '101'
          - '102'
          - '103'
          - '200'
          - '201'
          - '202'
          - '203'
          - '204'
          - '205'
          - '206'
          - '207'
          - '208'
          - '226'
          - '300'
          - '301'
          - '302'
          - '303'
          - '304'
          - '305'
          - '307'
          - '308'
          - '400'
          - '401'
          - '402'
          - '403'
          - '404'
          - '405'
          - '406'
          - '407'
          - '408'
          - '409'
          - '410'
          - '411'
          - '412'
          - '413'
          - '414'
          - '415'
          - '416'
          - '417'
          - '418'
          - '419'
          - '420'
          - '421'
          - '422'
          - '423'
          - '424'
          - '426'
          - '428'
          - '429'
          - '431'
          - '500'
          - '501'
          - '502'
          - '503'
          - '504'
          - '505'
          - '506'
          - '507'
          - '508'
          - '509'
          - '510'
          - '511'
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        userMessage:
          type: string
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: x-propertyware-client-id
    clientSecret:
      type: apiKey
      in: header
      name: x-propertyware-client-secret
    organizationId:
      type: apiKey
      in: header
      name: x-propertyware-system-id
