openapi: 3.2.0
info:
  description: "\uFEFF\n\n# Introduction\n\nWelcome to Propertyware’s API—a powerful, RESTful programming interface that lets you leverage valuable Propertyware data."
  version: '1.0'
  title: Open API, powered by Propertyware Buildings API
  contact:
    name: Propertyware
    email: support@propertyware.com
  x-logo:
    url: logo.png
    backgroundColor: '#fff'
    altText: Propertyware, A RealPage Company
    href: https://www.propertyware.com
servers:
- url: https://api.propertyware.com/pw/api/rest/v1
security:
- clientId: []
- clientSecret: []
- organizationId: []
tags:
- name: Buildings
  description: Resources providing access to buildings.
paths:
  /buildings:
    get:
      tags:
      - Buildings
      summary: Retrieve all buildings
      description: 'Retrieves a list of buildings.


        Required permission:

        BUILDINGS - Read


        Sortable by: createddate, idnumber, name, abbreviation, lastmodifieddatetime, id'
      operationId: getBuildings
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: vacant
        in: query
        description: Filters results by the building's vacancy status. If no value is specified, buildings with any status will be returned.
        required: false
        schema:
          type: boolean
      - name: publishedForRent
        in: query
        description: Filters results by the building's "published for rent" status. If no value is specified, buildings with any status will be returned.
        required: false
        schema:
          type: boolean
      - name: leaseID
        in: query
        description: Filters results to buildings associated with a specific lease.
        required: false
        schema:
          type: integer
          format: int64
      - name: portfolioID
        in: query
        description: Filters results to buildings associated with a specific portfolio.
        required: false
        schema:
          type: integer
          format: int64
      - name: includeDeactivated
        in: query
        description: Filters results to buildings with a deactivated records.
        required: false
        schema:
          type: boolean
      - name: includeCustomFields
        in: query
        description: Include custom fields in the response.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Building'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Buildings
      summary: Create a building
      description: 'Creates a building.


        Required permission:

        BUILDINGS - Write'
      operationId: createBuilding
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveBuilding'
        description: saveBuilding
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Building'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /buildings/bulk:
    post:
      tags:
      - Buildings
      summary: Create buildings in bulk
      description: 'Creates buildings in bulk.


        Required permission:

        BUILDINGS - Write'
      operationId: createContacts
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SaveBuilding'
        description: saveBuilding
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkSuccessResponse'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /buildings/customfields:
    put:
      tags:
      - Buildings
      summary: Update a building custom fields (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Updates an existing building custom fields


        Required permission:

        BUILDINGS - Write'
      operationId: updateBuilding
      requestBody:
        $ref: '#/components/requestBodies/SaveCustomField'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /buildings/{buildingID}:
    get:
      tags:
      - Buildings
      summary: Retrieve a building
      description: 'Retrieves a specific building.


        Required permission:

        BUILDINGS - Read'
      operationId: getBuilding
      parameters:
      - name: buildingID
        in: path
        description: Building ID
        required: true
        schema:
          type: integer
          format: int64
      - name: includeCustomFields
        in: query
        description: Include custom fields in the response.
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Building'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    put:
      tags:
      - Buildings
      summary: Update a building
      description: 'Updates a building.


        Required permission:

        BUILDINGS - Write'
      operationId: updateBuildingUsingPUT_1
      parameters:
      - name: buildingID
        in: path
        description: Building ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBuilding'
        description: updateBuilding
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Building'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    delete:
      tags:
      - Buildings
      summary: Delete a building (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Delete a building.


        Required permission:

        BUILDINGS - Delete'
      operationId: deleteBuilding
      parameters:
      - name: buildingID
        in: path
        description: Building ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /buildings/{buildingID}/conversations:
    get:
      tags:
      - Buildings
      summary: Retrieve all building conversations
      description: 'Retrieves all the conversations of a building.


        Required permission:

        BUILDINGS - Read


        Sortable by: createddate, lastmodifieddatetime, id'
      operationId: getBuildingConversations
      parameters:
      - name: buildingID
        in: path
        description: Building ID
        required: true
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: Filters results by the conversation type.
        required: false
        schema:
          type: string
          enum:
          - MANAGEMENT_TEAM
          - OWNER
          - TENANT
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conversation'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /buildings/{buildingID}/conversations/{conversationID}:
    get:
      tags:
      - Buildings
      summary: Retrieve a building conversation
      description: 'Retrieves a specific building conversation.


        Required permission:

        BUILDINGS - Read'
      operationId: getBuildingConversation
      parameters:
      - name: buildingID
        in: path
        description: Building ID
        required: true
        schema:
          type: integer
          format: int64
      - name: conversationID
        in: path
        description: Conversation ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    delete:
      tags:
      - Buildings
      summary: Delete a building conversation (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Deletes a specific building conversation.


        Required permission:

        BUILDINGS - Delete'
      operationId: deleteBuildingConversation
      parameters:
      - name: buildingID
        in: path
        description: Building ID
        required: true
        schema:
          type: integer
          format: int64
      - name: conversationID
        in: path
        description: Conversation ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /buildings/{buildingID}/managementfees:
    get:
      tags:
      - Buildings
      summary: Retrieves all the management fee rules of a building. (BETA)
      description: 'Note: This operation is still in beta and might be subject to breaking changes. Production integrations should be avoided at this stage.


        Retrieves all the management fee rules of a building.


        Required permission:

        BUILDINGS - Read'
      operationId: getBuildingManagementFee
      parameters:
      - name: buildingID
        in: path
        description: Building ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ManagementFee'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /buildings/{buildingID}/managers:
    get:
      tags:
      - Buildings
      summary: Retrieves all the property managers of a building
      description: 'Retrieves all the property managers of a building.


        Required permission:

        BUILDINGS - Read'
      operationId: getBuildingManagers
      parameters:
      - name: buildingID
        in: path
        description: Building ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PropertyManager'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /buildings/{buildingID}/notes:
    get:
      tags:
      - Buildings
      summary: Retrieves all the notes of a building
      description: 'Retrieves all the notes of a building.


        Required permission:

        BUILDINGS - Read'
      operationId: getBuildingNotes
      parameters:
      - name: buildingID
        in: path
        description: Building ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Note'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
components:
  schemas:
    SaveCustomField:
      type: object
      required:
      - entityId
      - fieldSet
      properties:
        entityId:
          type: integer
          format: int64
          description: Unique identifier of an entity custom field associated to.
        fieldSet:
          type: array
          description: List of Custom fields to update
          items:
            $ref: '#/components/schemas/CustomFieldSet'
      description: Custom field for Request
    ManagementFee:
      type: object
      properties:
        accountCode:
          type: string
          description: Management fee account code.
        accountNumber:
          type: string
          description: Management fee account number.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        manager:
          type: string
          description: Property manager name.
        managersCommissionPercentage:
          type: number
          format: double
          description: Property manager commission percentage.
        passThrough:
          type: boolean
          example: false
          description: Indicates if the commission account is of the passthrough type.
        percentage:
          type: number
          format: double
          description: Management fee percentage.
      description: Management Fee
    CustomFieldSet:
      type: object
      required:
      - name
      - value
      properties:
        name:
          type: string
          description: Custom Field name
        value:
          type: string
          description: Custom Field value
      description: Custom field set for Request
    Address:
      type: object
      properties:
        address:
          type: string
          description: Primary street and/or unit address.
        addressCont:
          type: string
          description: Address continuation.
        city:
          type: string
          description: City.
        country:
          type: string
          description: Country.
        postalCode:
          type: string
          description: Postal code.
        stateRegion:
          type: string
          description: State/region.
      description: Address
    UpdateBuilding:
      type: object
      required:
      - abbreviation
      - countUnit
      - name
      - propertyType
      - rentable
      - type
      properties:
        abbreviation:
          type: string
          description: Abbreviation of Building.
          minLength: 1
          maxLength: 12
        address:
          $ref: '#/components/schemas/SaveAddress'
        allocationMethod:
          type: string
          description: Allocation method.
          enum:
          - By Square Foot
          - By Percent
        availableDate:
          type: string
          format: date
          description: Date the building is available for leasing.
        baseYear:
          type: integer
          format: int32
          description: Base Year.
        baseYearOperatingExpenses:
          type: string
          description: Base Year Operating Expenses.
        baseYearPropertyInsurance:
          type: string
          description: Base Year Property Insurance.
        baseYearPropertyTaxes:
          type: string
          description: Base Year Property Taxes.
        countUnit:
          type: integer
          format: int32
          description: Indicates number of units in the building. Applicable for multi unit building creation and updating a single family building to multi unit building
        customNaming:
          type: string
          description: 'if we selected naming as "Custom" then enter the customer naming value '
        description:
          type: string
          description: Marketing description.
        featuredForRent:
          type: boolean
          example: false
          description: Featured Rental
        floorNumber:
          type: integer
          format: int32
          description: Floor number.
        managementContractEndDate:
          type: string
          format: date
          description: End date of the property contract.
        managementContractStartDate:
          type: string
          format: date
          description: Start date of the property contract.
        managementFeeType:
          type: string
          description: 'Indicates management fee type of a building. This field is deprecated and should not be used. Instead, use the new field ''managementFeesType''.  '
        managementFeesType:
          type: string
          description: Indicates management fee type of a building.
          enum:
          - MANAGE_FEE_NONE
          - MANAGE_FEE_GREATER_OF_FLAT_OR_PERCENTAGE
          - MANAGE_FEE_FLAT_PLUS_PERCENTAGE
        managementFlatFee:
          type: number
          format: double
          description: Indicates management flat fee.
        marketingName:
          type: string
          description: Marketing name.
        moveInDays:
          type: integer
          format: int32
          description: Move in Window must be with in these days given here 1 to 30 and 45,60,75,90
        name:
          type: string
          description: Name of the building.
          minLength: 1
          maxLength: 100
        naming:
          type: string
          description: Unit naming
          enum:
          - UNIT
          - SUITE
          - SPACE
          - CUSTOM
        neighborhood:
          type: string
          description: Neighborhood.
          minLength: 0
          maxLength: 30
        numberBathrooms:
          type: number
          format: double
          description: Number of Bath rooms in the Building. Applicable for single family buildings
          minimum: 0
          maximum: 10
        numberBedrooms:
          type: integer
          format: int32
          description: Number of bedrooms in the building. Applicable for single family buildings
          minimum: 0
          maximum: 20
        numberFloors:
          type: integer
          format: int32
          description: Number of floors.
        numbered:
          type: string
          description: Unit creation format.
          enum:
          - Alpha
          - Numeric
        otherTenantCharges:
          type: string
          description: Other tenant charges.
        parcelNumber:
          type: string
          description: Parcel number.
        petsAllowed:
          type: boolean
          example: false
          description: Pets allowed.
        postingTitle:
          type: string
          description: Marketing posting title.
        propertyType:
          type: string
          description: Property type.
          enum:
          - NONE
          - APARTMENT
          - CONDO
          - COMMERCIAL
          - DU_FOUR_PLEX
          - HOUSE
          - SECTION_8_AFFORDABLE
          - SENIOR
          - SHORT_TERM_VACATION
          - STUDENT
          - TOWNHOUSE
          - OTHER
        publishedForRent:
          type: string
          description: Published for rent.
          enum:
          - 'Yes'
          - 'No'
        ready:
          type: boolean
          example: false
          description: Ready to Lease
        rentable:
          type: boolean
          example: false
          description: This is required field. False value indicates Multifamily building, True value indicates single family building.
        searchTag:
          type: string
          description: Search tag name.
          minLength: 0
          maxLength: 25
        shortDescription:
          type: string
          description: Marketing short description.
        syndicate:
          type: boolean
          example: false
          description: Syndicate
        targetDeposit:
          type: string
          description: Target deposit amount. Applicable for single family buildings
          enum:
          - $1.2
          - '1.2'
        targetRent:
          type: number
          format: double
          description: Market rent for the building. Applicable for single family buildings
        targetRentUnits:
          type: string
          description: Property target rent units. Applicable for single family buildings
          enum:
          - DOLLAR_PER_SQ_FT_MONTH
          - DOLLAR_PER_SQ_FT_YEAR
          - DOLLAR_PER_SQ_M_MONTH
          - DOLLAR_PER_SQ_M_YEAR
          - DOLLAR_PER_MONTH
          - DOLLAR_PER_WEEK
          - DOLLAR_PER_NIGHT
        totalArea:
          type: number
          format: double
          description: Building area.
        type:
          type: string
          description: Indicates Building type like Office, Industrial, Retail, Healthcare, Government, Airport, Garage/Parking, Apartment Building, Duplex / Triplex, Mobile Home / RV Community etc.
        unitType:
          type: string
          description: Indicates Unit type like Condo,Lower Unit,Side By Side Duplex,Upper Unit,Townhome,Land,Commercial etc.
        yearBuilt:
          type: integer
          format: int32
          description: Building built year.
      description: UpdateBuilding
    Conversation:
      type: object
      properties:
        comments:
          type: array
          description: List of comments in the conversation.
          items:
            $ref: '#/components/schemas/Comment'
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        entityID:
          type: integer
          format: int64
          description: Id of the entity related to this conversation.
        entityType:
          type: string
          description: Type of the entity related to this conversation.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        subject:
          type: string
          description: Conversation subject.
        type:
          type: string
          description: Conversation type.
          enum:
          - MANAGEMENT_TEAM
          - OWNER
          - TENANT
      description: Conversation
    Amenity:
      type: object
      properties:
        code:
          type: string
          description: Amenity code.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        name:
          type: string
          description: Amenity name.
        type:
          type: string
          description: Amenity type.
      description: Amenity
    RESTAPIError:
      type: object
      properties:
        key:
          type: string
        message:
          type: string
    ManagementSettings:
      type: object
      properties:
        managementContractEndDate:
          type: string
          format: date
          description: End date of the property contract.
        managementContractStartDate:
          type: string
          format: date
          description: Start date of the property contract.
        managementFeeType:
          type: string
          description: 'Indicates the type of management fee. This field is deprecated and should not be used. Instead, use the new field ''managementFeesType''. '
        managementFees:
          type: array
          description: List of property management fee rules.
          items:
            $ref: '#/components/schemas/ManagementFee'
        managementFeesType:
          type: string
          description: Indicates the type of management fee.
          enum:
          - MANAGE_FEE_NONE
          - MANAGE_FEE_GREATER_OF_FLAT_OR_PERCENTAGE
          - MANAGE_FEE_FLAT_PLUS_PERCENTAGE
        managementFlatFee:
          type: number
          format: double
          description: Flat management fee amount.
      description: Property management information
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        userMessage:
          type: string
    Building:
      type: object
      properties:
        abbreviation:
          type: string
          description: Property abbreviation.
        active:
          type: boolean
          example: false
          description: Indicates if the property is active or inactive.
        address:
          $ref: '#/components/schemas/Address'
        amenities:
          type: array
          description: Property amenities list.
          items:
            $ref: '#/components/schemas/Amenity'
        applicationFeeRule:
          type: string
          description: Application fee rule
        areaUnits:
          type: string
          description: Property total area units.
          enum:
          - Sq Ft
          - Sq M
          default: Sq Ft
        baseYear:
          type: integer
          format: int32
          description: Base Year.
        baseYearOperatingExpenses:
          type: string
          description: Base Year Operating Expenses.
        baseYearPropertyInsurance:
          type: string
          description: Base Year Property Insurance.
        baseYearPropertyTaxes:
          type: string
          description: Base Year Property Taxes.
        category:
          type: string
          description: Property category.
          enum:
          - RESIDENTIAL
          - COMMERCIAL
        countUnit:
          type: integer
          format: int32
          description: Number of units in the building.
        county:
          type: string
          description: Property region of a state.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        customFields:
          type: array
          description: Custom fields.
          items:
            $ref: '#/components/schemas/CustomField'
        featuredForRent:
          type: boolean
          example: false
          description: Featured Rental
        floorNumber:
          type: integer
          format: int32
          description: Floor number.
        ftbDeductable:
          type: number
          format: double
          description: FTB deductible amount
        ftbWithholdingPercentage:
          type: number
          format: double
          description: FTB withholding percentage
        ftbWithholdingType:
          type: string
          description: FTB withholding type
        id:
          type: integer
          format: int64
          description: Unique identifier.
        idNumber:
          type: integer
          format: int32
          description: Unique identifier for Global Search.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        leaseID:
          type: integer
          format: int64
          description: Related lease ID.
        maintenanceLaborSurchargeAmount:
          type: number
          format: double
          description: Maintenance labor surcharge amount
        maintenanceLaborSurchargeType:
          type: string
          description: Maintenance labor surcharge type
        maintenanceNotice:
          type: string
          description: Property maintenance description.
        maintenanceSpendingLimitAmount:
          type: number
          format: double
          description: Maintenance spending limit amount
        maintenanceSpendingLimitTime:
          type: string
          description: Property maintenance spending limit.
          enum:
          - NO_LIMIT
          - MONTHLY_LIMIT
          - YEARLY_LIMIT
        management:
          $ref: '#/components/schemas/ManagementSettings'
        marketing:
          $ref: '#/components/schemas/Marketing'
        moveInDays:
          type: integer
          format: int32
          description: Move in Window must be with in these days given here 1 to 30 and 45,60,75,90
        multiUnit:
          type: string
          description: Indicates if the building is multi family or single family.
        name:
          type: string
          description: Name of the property.
        neighborhood:
          type: string
          description: Property neighborhood.
        numberFloors:
          type: integer
          format: int32
          description: Number floors
        numberOfBathrooms:
          type: number
          format: double
          description: Number of bathrooms in the property.
        numberOfBedrooms:
          type: integer
          format: int32
          description: Number of bedrooms in the property.
        portfolioID:
          type: integer
          format: int64
          description: ID of the portfolio associated with this property.
        propertyManagerList:
          type: array
          description: Property manager details.
          items:
            $ref: '#/components/schemas/PropertyManager'
        propertyType:
          type: string
          description: Type of property.
          enum:
          - NONE
          - APARTMENT
          - CONDO
          - COMMERCIAL
          - DU_FOUR_PLEX
          - HOUSE
          - SECTION_8_AFFORDABLE
          - SENIOR
          - SHORT_TERM_VACATION
          - STUDENT
          - TOWNHOUSE
          - OTHER
        ready:
          type: boolean
          example: false
          description: Indicates if the property is ready to lease.
        reasonForPropertyLost:
          type: string
          description: Reason for property lost
        rentable:
          type: boolean
          example: false
          description: Indicates if the property is available for rent.
        searchTag:
          type: string
          description: Property search tag.
        status:
          type: string
          description: Property status (occupied/vacant).
        syndicate:
          type: boolean
          example: false
          description: Syndicate
        targetDeposit:
          type: string
          description: Target deposit.
        targetRent:
          type: number
          format: double
          description: Property target rent.
        targetRentUnits:
          type: string
          description: Property target rent units.
          enum:
          - DOLLAR_PER_SQ_FT_MONTH
          - DOLLAR_PER_SQ_FT_YEAR
          - DOLLAR_PER_SQ_M_MONTH
          - DOLLAR_PER_SQ_M_YEAR
          - DOLLAR_PER_MONTH
          - DOLLAR_PER_WEEK
          - DOLLAR_PER_NIGHT
        totalArea:
          type: number
          format: double
          description: Property total area.
        type:
          type: string
          description: Property type.
        website:
          type: string
          description: Property website URL.
        yearBuilt:
          type: integer
          format: int32
          description: Property built year.
      description: Building
    ResponseEntity:
      type: object
      properties:
        body:
          type: object
        statusCode:
          type: string
          enum:
          - '100'
          - '101'
          - '102'
          - '103'
          - '200'
          - '201'
          - '202'
          - '203'
          - '204'
          - '205'
          - '206'
          - '207'
          - '208'
          - '226'
          - '300'
          - '301'
          - '302'
          - '303'
          - '304'
          - '305'
          - '307'
          - '308'
          - '400'
          - '401'
          - '402'
          - '403'
          - '404'
          - '405'
          - '406'
          - '407'
          - '408'
          - '409'
          - '410'
          - '411'
          - '412'
          - '413'
          - '414'
          - '415'
          - '416'
          - '417'
          - '418'
          - '419'
          - '420'
          - '421'
          - '422'
          - '423'
          - '424'
          - '426'
          - '428'
          - '429'
          - '431'
          - '500'
          - '501'
          - '502'
          - '503'
          - '504'
          - '505'
          - '506'
          - '507'
          - '508'
          - '509'
          - '510'
          - '511'
    CustomField:
      type: object
      properties:
        dataType:
          type: string
          description: Data type of the custom field.
        definitionID:
          type: integer
          format: int64
          description: Id of the custom field definition.
        fieldName:
          type: string
          description: Name of the custom field.
        value:
          type: string
          description: Value of the custom field.
      description: Custom field.
    Marketing:
      type: object
      properties:
        availableDate:
          type: string
          format: date
          description: Available date to lease for a unit/building.
        comments:
          type: string
          description: Marketing description.
        featured:
          type: boolean
          example: false
          description: Indicates if property is featured for rent or sale.
        featuredForRent:
          type: boolean
          example: false
          description: Indicates if the unit/building is featured for rent.
        featuredForSale:
          type: boolean
          example: false
          description: Indicates if unit/building is featured for sale.
        forSale:
          type: boolean
          example: false
          description: Indicates if this building/unit is for sale.
        latitude:
          type: number
          description: Latitude for geolocation of this building/unit.
        leaseTerms:
          type: integer
          format: int32
          description: Lease terms of a unit/building.
        leaseTermsUnits:
          type: string
          description: Unit/building lease terms units.
        longitude:
          type: number
          description: Longitude for geolocation of this building/unit.
        marketingName:
          type: string
          description: Marketing name.
        mlsLeaseNumber:
          type: string
          description: MLS lease number of this building/unit.
        mlsNumber:
          type: string
          description: MLS number of this building/unit.
        otherTenantCharges:
          type: string
          description: Other tenant charges.
        parcelNumber:
          type: string
          description: Parcel number of this building/unit.
        petsAllowed:
          type: boolean
          example: false
          description: Indicates if pets are allowed in a unit/building.
        postingTitle:
          type: string
          description: Posting title name for marketing this building/unit.
        publishedForRent:
          type: boolean
          example: false
          description: Published For Rent
        publishedForSale:
          type: boolean
          example: false
          description: Indicates if the unit/building is published for sale.
        salePrice:
          type: number
          format: double
          description: Sale price of this building/unit.
        saleTerms:
          type: string
          description: Sale terms of this building/unit.
        shortDescription:
          type: string
          description: Marketing short description.
        smokingAllowed:
          type: boolean
          example: false
          description: Indicates if smoking is allowed in this unit/building.
        specials:
          type: string
          description: Specials of this building/unit.
      description: Marketing Information
    PropertyManager:
      type: object
      properties:
        email:
          type: string
          description: Email address.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        name:
          type: string
          description: Name.
        roleAsString:
          type: string
          description: Role name.
        userID:
          type: integer
          format: int64
          description: User id.
      description: PropertyManager
    RESTAPIBulkSuccessResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
    Comment:
      type: object
      properties:
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        text:
          type: string
          description: Comment text.
      description: Comment
    SaveAddress:
      type: object
      required:
      - country
      properties:
        address:
          type: string
          description: Primary street and/or unit address. Required only if country is USA or Canada.
          minLength: 0
          maxLength: 50
        addressCont:
          type: string
          description: Address continuation.
          minLength: 0
          maxLength: 20
        city:
          type: string
          description: City. Required only if Country is United States / Canada.
          minLength: 0
          maxLength: 30
        country:
          type: string
          description: Country. For US addresses, this value should be "United States". For other countries, this should be the full country name (Canada, United Kingdom, ...)
          minLength: 0
          maxLength: 30
        postalCode:
          type: string
          description: Zip. Required only if Country is United States / Canada.
          minLength: 0
          maxLength: 20
        stateRegion:
          type: string
          description: State. Required only if Country is United States / Canada.
          minLength: 0
          maxLength: 20
      description: Address.
    RESTAPIBulkErrorResponse:
      type: object
      properties:
        error:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        index:
          type: integer
          format: int32
        success:
          type: boolean
    SaveBuilding:
      type: object
      required:
      - abbreviation
      - category
      - countUnit
      - name
      - portfolioID
      - propertyType
      - rentable
      - type
      properties:
        abbreviation:
          type: string
          description: Abbreviation of Building.
          minLength: 1
          maxLength: 12
        address:
          $ref: '#/components/schemas/SaveAddress'
        allocationMethod:
          type: string
          description: Allocation method.
          enum:
          - By Square Foot
          - By Percent
        availableDate:
          type: string
          format: date
          description: Date the building is available for leasing.
        baseYear:
          type: integer
          format: int32
          description: Base Year.
        baseYearOperatingExpenses:
          type: string
          description: Base Year Operating Expenses.
        baseYearPropertyInsurance:
          type: string
          description: Base Year Property Insurance.
        baseYearPropertyTaxes:
          type: string
          description: Base Year Property Taxes.
        category:
          type: string
          description: Building category.
          enum:
          - RESIDENTIAL
          - COMMERCIAL
        countUnit:
          type: integer
          format: int32
          description: Indicates number of units in the building. Applicable for multi unit building creation and updating a single family building to multi unit building
        customNaming:
          type: string
          description: 'if we selected naming as "Custom" then enter the customer naming value '
        description:
          type: string
          description: Marketing description.
        featuredForRent:
          type: boolean
          example: false
          description: Featured Rental
        floorNumber:
          type: integer
          format: int32
          description: Floor number.
        managementContractEndDate:
          type: string
          format: date
          description: End date of the property contract.
        managementContractStartDate:
          type: string
          format: date
          description: Start date of the property contract.
        managementFeeType:
          type: string
          description: 'Indicates management fee type of a building. This field is deprecated and should not be used. Instead, use the new field ''managementFeesType''.  '
        managementFeesType:
          type: string
          description: Indicates management fee type of a building.
          enum:
          - MANAGE_FEE_NONE
          - MANAGE_FEE_GREATER_OF_FLAT_OR_PERCENTAGE
          - MANAGE_FEE_FLAT_PLUS_PERCENTAGE
        managementFlatFee:
          type: number
          format: double
          description: Indicates management flat fee.
        marketingName:
          type: string
          description: Marketing name.
        moveInDays:
          type: integer
          format: int32
          description: Move in Window must be with in these days given here 1 to 30 and 45,60,75,90
        name:
          type: string
          description: Name of the building.
          minLength: 1
          maxLength: 100
        naming:
          type: string
          description: Unit naming
          enum:
          - UNIT
          - SUITE
          - SPACE
          - CUSTOM
        neighborhood:
          type: string
          description: Neighborhood.
          minLength: 0
          maxLength: 30
        numberBathrooms:
          type: number
          format: double
          description: Number of Bath rooms in the Building. Applicable for single family buildings
          minimum: 0
          maximum: 10
        numberBedrooms:
          type: integer
          format: int32
          description: Number of bedrooms in the building. Applicable for single family buildings
          minimum: 0
          maximum: 20
        numberFloors:
          type: integer
          format: int32
          description: Number of floors.
        numbered:
          type: string
          description: Unit creation format.
          enum:
          - Alpha
          - Numeric
        otherTenantCharges:
          type: string
          description: Other tenant charges.
        parcelNumber:
          type: string
          description: Parcel number.
        petsAllowed:
          type: boolean
          example: false
          description: Pets allowed.
        portfolioID:
          type: integer
          format: int64
          description: ID of the portfolio associated with this building.
        postingTitle:
          type: string
          description: Marketing posting title.
        propertyType:
          type: string
          description: Property type.
          enum:
          - NONE
          - APARTMENT
          - CONDO
          - COMMERCIAL
          - DU_FOUR_PLEX
          - HOUSE
          - SECTION_8_AFFORDABLE
          - SENIOR
          - SHORT_TERM_VACATION
          - STUDENT
          - TOWNHOUSE
          - OTHER
        publishedForRent:
          type: string
          description: Published for rent.
          enum:
          - 'Yes'
          - 'No'
        ready:
          type: boolean
          example: false
          description: Ready to Lease
        rentable:
          type: boolean
          example: false
          description: This is required field. False value indicates Multifamily building, True value indicates single family building.
        searchTag:
          type: string
          description: Search tag name.
          minLength: 0
          maxLength: 25
        shortDescription:
          type: string
          description: Marketing short description.
        syndicate:
          type: boolean
          example: false
          description: Syndicate
        targetDeposit:
          type: string
          description: Target deposit amount. Applicable for single family buildings
          enum:
          - $1.2
          - '1.2'
        targetRent:
          type: number
          format: double
          description: Market rent for the building. Applicable for single family buildings
        targetRentUnits:
          type: string
          description: Property target rent units. Applicable for single family buildings
          enum:
          - DOLLAR_PER_SQ_FT_MONTH
          - DOLLAR_PER_SQ_FT_YEAR
          - DOLLAR_PER_SQ_M_MONTH
          - DOLLAR_PER_SQ_M_YEAR
          - DOLLAR_PER_MONTH
          - DOLLAR_PER_WEEK
          - DOLLAR_PER_NIGHT
        totalArea:
          type: number
          format: double
          description: Building area.
        type:
          type: string
          description: Indicates Building type like Office, Industrial, Retail, Healthcare, Government, Airport, Garage/Parking, Apartment Building, Duplex / Triplex, Mobile Home / RV Community etc.
        unitType:
          type: string
          description: Indicates Unit type like Condo,Lower Unit,Side By Side Duplex,Upper Unit,Townhome,Land,Commercial etc.
        yearBuilt:
          type: integer
          format: int32
          description: Building built year.
      description: SaveBuilding
    Note:
      type: object
      properties:
        body:
          type: string
          description: Content of the note.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        date:
          type: string
          format: date
          description: Date the note was created.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        private:
          type: boolean
        subject:
          type: string
          description: Subject.
  requestBodies:
    SaveCustomField:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveCustomField'
      description: saveCustomField
      required: true
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: x-propertyware-client-id
    clientSecret:
      type: apiKey
      in: header
      name: x-propertyware-client-secret
    organizationId:
      type: apiKey
      in: header
      name: x-propertyware-system-id
