openapi: 3.2.0
info:
  description: "\uFEFF\n\n# Introduction\n\nWelcome to Propertyware’s API—a powerful, RESTful programming interface that lets you leverage valuable Propertyware data."
  version: '1.0'
  title: Open API, powered by Propertyware Portfolios API
  contact:
    name: Propertyware
    email: support@propertyware.com
  x-logo:
    url: logo.png
    backgroundColor: '#fff'
    altText: Propertyware, A RealPage Company
    href: https://www.propertyware.com
servers:
- url: https://api.propertyware.com/pw/api/rest/v1
security:
- clientId: []
- clientSecret: []
- organizationId: []
tags:
- name: Portfolios
  description: Resources providing access to portfolios.
paths:
  /portfolios:
    get:
      tags:
      - Portfolios
      summary: Retrieve all portfolios
      description: 'Retrieves a list of portfolios.


        Required permission:

        PORTFOLIOS - Read


        Sortable by: createddate, name, abbreviation, lastmodifieddatetime, id'
      operationId: getPortfolios
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: includeDeactivated
        in: query
        description: Filters results to portfolios with a deactivated records.
        required: false
        schema:
          type: boolean
      - name: includeCustomFields
        in: query
        description: includeCustomFields
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Portfolio'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Portfolios
      summary: Create a portfolio
      description: 'Creates a portfolio.


        Required permission:

        PORTFOLIOS - Write'
      operationId: createPortfolio
      requestBody:
        $ref: '#/components/requestBodies/SavePortfolio'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /portfolios/bulk:
    post:
      tags:
      - Portfolios
      summary: Create Portfolios in bulk
      description: 'Creates Portfolios in bulk.


        Required permission:

        PORTFOLIOS - Write'
      operationId: createPortfolios
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SavePortfolio'
        description: savePortfolio
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkSuccessResponse'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /portfolios/customfields:
    put:
      tags:
      - Portfolios
      summary: Update a portfolio custom fields (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Updates an existing portfolio custom fields


        Required permission:

        PORTFOLIOS - Write'
      operationId: updatePortfolio
      requestBody:
        $ref: '#/components/requestBodies/SaveCustomField'
      responses:
        '200':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /portfolios/{portfolioID}:
    get:
      tags:
      - Portfolios
      summary: Retrieve a portfolio
      description: 'Retrieves a specific portfolio.


        Required permission:

        PORTFOLIOS - Read'
      operationId: getPortfolio
      parameters:
      - name: portfolioID
        in: path
        description: Portfolio ID
        required: true
        schema:
          type: integer
          format: int64
      - name: includeCustomFields
        in: query
        description: includeCustomFields
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    put:
      tags:
      - Portfolios
      summary: Update a portfolio
      description: 'Updates an existing portfolio.


        Required permission:

        PORTFOLIOS - Write'
      operationId: updatePortfolioUsingPUT_1
      parameters:
      - name: portfolioID
        in: path
        description: Portfolio ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SavePortfolio'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /portfolios/{portfolioID}/conversations:
    get:
      tags:
      - Portfolios
      summary: Retrieve all portfolio conversations
      description: 'Retrieves all the conversations of a portfolio.


        Required permission:

        PORTFOLIOS - Read


        Sortable by: createddate, lastmodifieddatetime, id'
      operationId: getPortfolioConversations
      parameters:
      - name: portfolioID
        in: path
        description: Portfolio ID
        required: true
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: Filters results by the conversation type.
        required: false
        schema:
          type: string
          enum:
          - MANAGEMENT_TEAM
          - OWNER
          - TENANT
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conversation'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /portfolios/{portfolioID}/conversations/{conversationID}:
    get:
      tags:
      - Portfolios
      summary: Retrieve a portfolio conversation
      description: 'Retrieves a specific portfolio conversation.


        Required permission:

        PORTFOLIOS - Read'
      operationId: getPortfolioConversation
      parameters:
      - name: portfolioID
        in: path
        description: Portfolio ID
        required: true
        schema:
          type: integer
          format: int64
      - name: conversationID
        in: path
        description: Conversation ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    delete:
      tags:
      - Portfolios
      summary: Delete a portfolio conversation (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Deletes a specific portfolio conversation.


        Required permission:

        PORTFOLIOS - Delete'
      operationId: deletePortfolioConversation
      parameters:
      - name: portfolioID
        in: path
        description: Portfolio ID
        required: true
        schema:
          type: integer
          format: int64
      - name: conversationID
        in: path
        description: Conversation ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
components:
  schemas:
    SaveOwner:
      type: object
      required:
      - firstName
      - lastName
      properties:
        address:
          $ref: '#/components/schemas/SaveAddress'
        email:
          type: string
          description: Owner EMail.
        firstName:
          type: string
          description: Owner First Name.
        homePhone:
          type: string
          description: Owner Home Phone.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastName:
          type: string
          description: Owner Last Name.
        mobilePhone:
          type: string
          description: Owner Mobile Phone.
        otherPhone:
          type: string
          description: Owner Other Phone.
        percentageOwnership:
          type: number
          format: double
          description: Ownership percentage.
        workPhone:
          type: string
          description: Owner Work Phone.
      description: Save Owner Contact
    SaveAddress:
      type: object
      required:
      - country
      properties:
        address:
          type: string
          description: Primary street and/or unit address. Required only if country is USA or Canada.
          minLength: 0
          maxLength: 50
        addressCont:
          type: string
          description: Address continuation.
          minLength: 0
          maxLength: 20
        city:
          type: string
          description: City. Required only if Country is United States / Canada.
          minLength: 0
          maxLength: 30
        country:
          type: string
          description: Country. For US addresses, this value should be "United States". For other countries, this should be the full country name (Canada, United Kingdom, ...)
          minLength: 0
          maxLength: 30
        postalCode:
          type: string
          description: Zip. Required only if Country is United States / Canada.
          minLength: 0
          maxLength: 20
        stateRegion:
          type: string
          description: State. Required only if Country is United States / Canada.
          minLength: 0
          maxLength: 20
      description: Address.
    Comment:
      type: object
      properties:
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        text:
          type: string
          description: Comment text.
      description: Comment
    RESTAPIBulkErrorResponse:
      type: object
      properties:
        error:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        index:
          type: integer
          format: int32
        success:
          type: boolean
    Address:
      type: object
      properties:
        address:
          type: string
          description: Primary street and/or unit address.
        addressCont:
          type: string
          description: Address continuation.
        city:
          type: string
          description: City.
        country:
          type: string
          description: Country.
        postalCode:
          type: string
          description: Postal code.
        stateRegion:
          type: string
          description: State/region.
      description: Address
    CustomFieldSet:
      type: object
      required:
      - name
      - value
      properties:
        name:
          type: string
          description: Custom Field name
        value:
          type: string
          description: Custom Field value
      description: Custom field set for Request
    SaveCustomField:
      type: object
      required:
      - entityId
      - fieldSet
      properties:
        entityId:
          type: integer
          format: int64
          description: Unique identifier of an entity custom field associated to.
        fieldSet:
          type: array
          description: List of Custom fields to update
          items:
            $ref: '#/components/schemas/CustomFieldSet'
      description: Custom field for Request
    Conversation:
      type: object
      properties:
        comments:
          type: array
          description: List of comments in the conversation.
          items:
            $ref: '#/components/schemas/Comment'
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        entityID:
          type: integer
          format: int64
          description: Id of the entity related to this conversation.
        entityType:
          type: string
          description: Type of the entity related to this conversation.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        subject:
          type: string
          description: Conversation subject.
        type:
          type: string
          description: Conversation type.
          enum:
          - MANAGEMENT_TEAM
          - OWNER
          - TENANT
      description: Conversation
    CustomField:
      type: object
      properties:
        dataType:
          type: string
          description: Data type of the custom field.
        definitionID:
          type: integer
          format: int64
          description: Id of the custom field definition.
        fieldName:
          type: string
          description: Name of the custom field.
        value:
          type: string
          description: Value of the custom field.
      description: Custom field.
    ResponseEntity:
      type: object
      properties:
        body:
          type: object
        statusCode:
          type: string
          enum:
          - '100'
          - '101'
          - '102'
          - '103'
          - '200'
          - '201'
          - '202'
          - '203'
          - '204'
          - '205'
          - '206'
          - '207'
          - '208'
          - '226'
          - '300'
          - '301'
          - '302'
          - '303'
          - '304'
          - '305'
          - '307'
          - '308'
          - '400'
          - '401'
          - '402'
          - '403'
          - '404'
          - '405'
          - '406'
          - '407'
          - '408'
          - '409'
          - '410'
          - '411'
          - '412'
          - '413'
          - '414'
          - '415'
          - '416'
          - '417'
          - '418'
          - '419'
          - '420'
          - '421'
          - '422'
          - '423'
          - '424'
          - '426'
          - '428'
          - '429'
          - '431'
          - '500'
          - '501'
          - '502'
          - '503'
          - '504'
          - '505'
          - '506'
          - '507'
          - '508'
          - '509'
          - '510'
          - '511'
    Portfolio:
      type: object
      properties:
        abbreviation:
          type: string
          description: Abbreviated name assigned to the portfolio.
        active:
          type: boolean
          example: false
          description: Indicates if portfolio is active or inactive.
        cashAccrual:
          type: string
          description: Cash or accrual accounting basis.
          enum:
          - COMPANY_DEFAULT
          - CASH
          - ACCRUAL
        closingDate:
          type: string
          format: date
          description: Date when the accounting period for the portfolio will close.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        customFields:
          type: array
          description: Custom fields.
          items:
            $ref: '#/components/schemas/CustomField'
        defaultBankAccountID:
          type: integer
          format: int64
          description: Id of the portfolio's default bank account.
        defaultBankAccountNumberAndDescription:
          type: string
          description: Portfolio default bank account number and description
        defaultSecurityDepositBankAccountID:
          type: integer
          format: int64
          description: Portfolio default security deposit bank account ID
        defaultSecurityDepositBankAccountNumberAndDescription:
          type: string
          description: Portfolio default security deposit bank account number and description
        doNotPayOwnerDraw:
          type: boolean
          example: false
          description: Indicates if the owner should not be paid owner draws.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        maintenanceSpendingLimit:
          type: number
          format: double
          description: Monthly or yearly maintenance spending limit set for the portfolio for maintenance bills created by work orders.
        maintenanceSpendingLimitTime:
          type: string
          description: Monthly or yearly maintenance spending limit time set for the portfolio for maintenance bills created by work orders.
          enum:
          - NO_LIMIT
          - DOLLAR_PER_MONTH
          - DOLLAR_PER_YEAR
        modifiedBy:
          type: string
          description: Id of the user who last modified the portfolio information.
        name:
          type: string
          description: Portfolio name.
        ownerStatementReportID:
          type: integer
          format: int64
          description: Portfolio Owner Statement Report ID
        owners:
          type: array
          description: List of portfolio owners.
          items:
            $ref: '#/components/schemas/Owner'
        stickyNote:
          type: string
          description: Sticky notes.
        targetOperatingReserve:
          type: number
          format: double
          description: Minimum balance to be maintained within the portfolio at all times.
      description: Portfolio
    RESTAPIError:
      type: object
      properties:
        key:
          type: string
        message:
          type: string
    SavePortfolio:
      type: object
      required:
      - abbreviation
      - name
      properties:
        abbreviation:
          type: string
          description: Abbreviated name assigned to the portfolio.
        cashAccrual:
          type: string
          description: Cash or accrual accounting basis.
          enum:
          - COMPANY_DEFAULT
          - CASH
          - ACCRUAL
        closingDate:
          type: string
          format: date
          description: Date when the accounting period for the portfolio will close.
        defaultBankAccountID:
          type: integer
          format: int64
          description: Portfolio Default Bank Account ID
        defaultSecdepAccountID:
          type: integer
          format: int64
          description: Portfolio Default Security Deposit Bank Account ID
        doNotPayOwnerDraw:
          type: boolean
          example: false
          description: Indicates that the owner should not be paid owner draws.
        maintenanceSpendingLimit:
          type: number
          format: double
          description: Monthly or yearly Maintenance Spending Limit set for the portfolio for maintenance bills created by work orders.
        maintenanceSpendingLimitTime:
          type: string
          description: Monthly or Yearly Maintenance Spending Limit Time set for the portfolio for maintenance bills created by work orders.
          enum:
          - NO_LIMIT
          - DOLLAR_PER_MONTH
          - DOLLAR_PER_YEAR
        name:
          type: string
          description: Name of the portfolio.
        ownerIds:
          type: array
          description: Portfolio owner Ids
          items:
            type: integer
            format: int64
        ownerStatementReportID:
          type: integer
          format: int64
          description: Portfolio Owner Statement Report ID
        owners:
          type: array
          description: Portfolio owners.
          items:
            $ref: '#/components/schemas/SaveOwner'
        stickyNote:
          type: string
          description: Sticky notes. Maximum 500 characters.
        targetOperatingReserve:
          type: number
          format: double
          description: Minimum balance to be maintained within the portfolio at all times.
      description: 'Save Portfolio '
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        userMessage:
          type: string
    RESTAPIBulkSuccessResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
    Owner:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/Address'
        email:
          type: string
          description: Email address.
        firstName:
          type: string
          description: First name.
        homePhone:
          type: string
          description: Home phone.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastName:
          type: string
          description: Last name.
        mobilePhone:
          type: string
          description: Mobile phone.
        name:
          type: string
          description: Full name.
        otherPhone:
          type: string
          description: Other phone.
        percentageOwnership:
          type: number
          format: double
          description: Percentage ownership.
        workPhone:
          type: string
          description: Work phone.
      description: Owner Contact
  requestBodies:
    SavePortfolio:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SavePortfolio'
      description: savePortfolio
      required: true
    SaveCustomField:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveCustomField'
      description: saveCustomField
      required: true
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: x-propertyware-client-id
    clientSecret:
      type: apiKey
      in: header
      name: x-propertyware-client-secret
    organizationId:
      type: apiKey
      in: header
      name: x-propertyware-system-id
