openapi: 3.2.0
info:
  description: "\uFEFF\n\n# Introduction\n\nWelcome to Propertyware’s API—a powerful, RESTful programming interface that lets you leverage valuable Propertyware data."
  version: '1.0'
  title: Open API, powered by Propertyware Custom field definitions…
  contact:
    name: Propertyware
    email: support@propertyware.com
  x-logo:
    url: logo.png
    backgroundColor: '#fff'
    altText: Propertyware, A RealPage Company
    href: https://www.propertyware.com
servers:
- url: https://api.propertyware.com/pw/api/rest/v1
security:
- clientId: []
- clientSecret: []
- organizationId: []
tags:
- name: Custom Field Definitions
  description: Resources providing access to custom fields definitions.
paths:
  /customfields/{entityType}/definitions:
    get:
      tags:
      - Custom Field Definitions
      summary: Retrieve list of custom field definitions
      description: 'Retrieve list of custom field definitions.


        Required permission:

        CUSTOM FIELD - Read'
      operationId: retrieveCustomFieldDefinitions
      parameters:
      - name: entityType
        in: path
        description: Entity type, allowed entity types (Asset, Building, Contact, Lease, Portfolio, Prospect, Unit, Vendor, WorkOrder, ServiceAgreement)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomFieldDefinition'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
components:
  schemas:
    RESTAPIError:
      type: object
      properties:
        key:
          type: string
        message:
          type: string
    CustomFieldDefinition:
      type: object
      properties:
        dataType:
          type: string
        defaultValue:
          type: string
        fieldName:
          type: string
        groupName:
          type: string
        requiredField:
          type: string
      description: Custom field definition.
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        userMessage:
          type: string
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: x-propertyware-client-id
    clientSecret:
      type: apiKey
      in: header
      name: x-propertyware-client-secret
    organizationId:
      type: apiKey
      in: header
      name: x-propertyware-system-id
