openapi: 3.2.0
info:
  description: "\uFEFF\n\n# Introduction\n\nWelcome to Propertyware’s API—a powerful, RESTful programming interface that lets you leverage valuable Propertyware data."
  version: '1.0'
  title: Open API, powered by Propertyware Inspections API
  contact:
    name: Propertyware
    email: support@propertyware.com
  x-logo:
    url: logo.png
    backgroundColor: '#fff'
    altText: Propertyware, A RealPage Company
    href: https://www.propertyware.com
servers:
- url: https://api.propertyware.com/pw/api/rest/v1
security:
- clientId: []
- clientSecret: []
- organizationId: []
tags:
- name: Inspections
  description: Resources providing access to inspections.
paths:
  /inspections:
    get:
      tags:
      - Inspections
      summary: Retrieve all inspections
      description: 'Retrieves a list of inspections.


        Required permission:

        INSPECTIONS - Read


        Sortable by: createddate, number, lastmodifieddatetime, status, id'
      operationId: getInspections
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: Filters results to inspections with a specific status.
        required: false
        schema:
          type: string
      - name: portfolioID
        in: query
        description: Filters results to inspections associated with a specific portfolio.
        required: false
        schema:
          type: integer
          format: int64
      - name: buildingID
        in: query
        description: Filters results to inspections associated with a specific building.
        required: false
        schema:
          type: integer
          format: int64
      - name: type
        in: query
        description: Filters results to inspections with a specific type.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Inspection'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /inspections/{inspectionId}:
    get:
      tags:
      - Inspections
      summary: Retrieve a inspection
      description: 'Retrieves a specific inspection.


        Required permission:

        INSPECTIONS - Read'
      operationId: getInspection
      parameters:
      - name: inspectionId
        in: path
        description: Inspection ID
        required: true
        schema:
          type: integer
          format: int64
      - name: includeCustomFields
        in: query
        description: includeCustomFields
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inspection'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
components:
  schemas:
    InspectionItem:
      type: object
      properties:
        comments:
          type: string
          description: Comments.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        name:
          type: string
          description: Name of the inspection item.
        status:
          type: string
          description: Status of the inspection.
      description: InspectionItem
    RESTAPIError:
      type: object
      properties:
        key:
          type: string
        message:
          type: string
    InspectionArea:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier.
        items:
          type: array
          description: List of items in the inspection.
          items:
            $ref: '#/components/schemas/InspectionItem'
        name:
          type: string
          description: Name of the inspection area.
      description: Inspection Area
    Inspection:
      type: object
      properties:
        buildingID:
          type: integer
          format: int64
          description: Id of the building associated with this inspection.
        closedDateAndTime:
          type: string
          format: date-time
          description: Date and time the inspection closed (customer time zone).
        comment:
          type: string
          description: Inspection comments.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        id:
          type: integer
          format: int64
          description: Unique identifier.
        inspectedDateAndTime:
          type: string
          format: date-time
          description: Date and time the inspection occurred (customer time zone).
        inspectionAreas:
          type: array
          description: List of inspection areas.
          items:
            $ref: '#/components/schemas/InspectionArea'
        inspectorID:
          type: integer
          format: int64
          description: Inspector ID
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        leaseID:
          type: integer
          format: int64
          description: Id of the lease associated with this inspection.
        notesToInspector:
          type: string
          description: Notes to Inspector
        number:
          type: integer
          format: int32
          description: Inspection number.
        portfolioID:
          type: integer
          format: int64
          description: Id of the portfolio associated with this inspection.
        scheduledDateAndTime:
          type: string
          format: date-time
          description: Date and time the inspection is/was scheduled to occur (customer time zone).
        status:
          type: string
          description: Inspection status.
        templateName:
          type: string
          description: Inspection template name.
        type:
          type: string
          description: Inspection type.
      description: Inspection
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        userMessage:
          type: string
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: x-propertyware-client-id
    clientSecret:
      type: apiKey
      in: header
      name: x-propertyware-client-secret
    organizationId:
      type: apiKey
      in: header
      name: x-propertyware-system-id
