openapi: 3.2.0
info:
  description: "\uFEFF\n\n# Introduction\n\nWelcome to Propertyware’s API—a powerful, RESTful programming interface that lets you leverage valuable Propertyware data."
  version: '1.0'
  title: Open API, powered by Propertyware Accounting API
  contact:
    name: Propertyware
    email: support@propertyware.com
  x-logo:
    url: logo.png
    backgroundColor: '#fff'
    altText: Propertyware, A RealPage Company
    href: https://www.propertyware.com
servers:
- url: https://api.propertyware.com/pw/api/rest/v1
security:
- clientId: []
- clientSecret: []
- organizationId: []
tags:
- name: Accounting
  description: Resources providing access to accounting data such as general ledger accounts and financial transactions.
paths:
  /accounting/bankdeposits:
    post:
      tags:
      - Accounting
      summary: Create a bank deposit
      description: 'Creates a bank deposit.


        Required permission:

        GENERAL LEDGER - Write'
      operationId: createBankDeposit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveBankDeposit'
        description: saveBankDeposit
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankDeposit'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounting/bankdeposits/{bankDepositID}:
    delete:
      tags:
      - Accounting
      summary: Delete a Bank Deposit (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Delete a Bank Deposit.


        Required permission:

        GENERAL LEDGER - Delete'
      operationId: deleteBankDeposit
      parameters:
      - name: bankDepositID
        in: path
        description: Bank Deposit ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /accounting/generalledger:
    get:
      tags:
      - Accounting
      summary: Retrieve all general ledger transactions (BETA)
      description: 'Note: This operation is still in beta and might be subject to breaking changes. Production integrations should be avoided at this stage.


        Retrieves a list of general ledger transactions.


        At least of the following date ranges must be passed as a filter:

        * `lastModifiedDateStart`-`lastModifiedDateEnd`

        * `createdDateStart`-`createdDateEnd`


        Required permission:

        GENERAL LEDGER - Read'
      operationId: getGeneralLedgerTransactions
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: leaseID
        in: query
        description: Filters results to transactions associated with a specific lease.
        required: false
        schema:
          type: integer
          format: int64
      - name: ownerID
        in: query
        description: Filters results to transactions associated with a specific owner.
        required: false
        schema:
          type: integer
          format: int64
      - name: vendorID
        in: query
        description: Filters results to transactions associated with a specific vendor.
        required: false
        schema:
          type: integer
          format: int64
      - name: portfolioID
        in: query
        description: Filters results to transactions associated with a specific Portfolio.
        required: false
        schema:
          type: integer
          format: int64
      - name: postDateStart
        in: query
        description: Filters results to any transaction with post date on or after to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: postDateEnd
        in: query
        description: Filters results to any transaction with post date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GLItem'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounting/glaccounts:
    get:
      tags:
      - Accounting
      summary: Retrieve all the general ledger accounts
      description: 'Retrieves a list of general ledger accounts.


        Required permission:

        GL ACCOUNTS - Read


        Sortable by: accountcode, id, accountnumber'
      operationId: getAccounts
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: accountNumber
        in: query
        description: Filters results to accounts with a specific number.
        required: false
        schema:
          type: string
      - name: includeDeactivated
        in: query
        description: Include deactivated results if a `true` value is passed. If no value is specified, only active accounts will be returned.
        required: false
        schema:
          type: boolean
      - name: accountCode
        in: query
        description: Filters results to accounts with a specific code.
        required: false
        schema:
          type: string
      - name: parentGLAccountId
        in: query
        description: Filters results to accounts that are a children of a specific parent account.
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Accounting
      summary: Create a general ledger account (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Create a general ledger account.


        Required permission:

        GL ACCOUNTS - Write'
      operationId: createGLAccount
      requestBody:
        $ref: '#/components/requestBodies/SaveAccount'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounting/glaccounts/bulk:
    post:
      tags:
      - Accounting
      summary: Create general ledger accounts in bulk (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Creates general ledger accounts in bulk.


        Required permission:

        GL ACCOUNTS - Write'
      operationId: createBillPayments
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SaveAccount'
        description: saveAccount
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkSuccessResponse'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounting/glaccounts/{glAccountID}:
    get:
      tags:
      - Accounting
      summary: Retrieve a general ledger account
      description: 'Retrieves a general ledger account.


        Required permission:

        GL ACCOUNTS - Read'
      operationId: getAccount
      parameters:
      - name: glAccountID
        in: path
        description: GL Account ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - Accounting
      summary: Update a general ledger account (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Updates a general ledger account.


        Required permission:

        GL ACCOUNTS - Write'
      operationId: updateGLAccount
      parameters:
      - name: glAccountID
        in: path
        description: GL Account ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SaveAccount'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /accounting/glaccounts/{glAccount}:
    delete:
      tags:
      - Accounting
      summary: Delete a general ledger account (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Delete a general ledger account.


        Required permission:

        GL ACCOUNTS - Delete'
      operationId: deleteGLAccount
      parameters:
      - name: glAccount
        in: path
        description: GL Account ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /accounting/ownercontributions:
    get:
      tags:
      - Accounting
      summary: Retrieve all the owner contributions
      description: 'Retrieves a list of owner contributions.


        Required permission:

        PORTFOLIOS - Read


        Sortable by: postdate, createddate, lastmodifieddatetime, id'
      operationId: getOwnerContributions
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: postDateStart
        in: query
        description: Filters results to any transaction with a start date on or after the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: postDateEnd
        in: query
        description: Filters results to any transaction with a start date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: portfolioID
        in: query
        description: Filters results to with portfolioID.
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OwnerContribution'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Accounting
      summary: Create an owner contribution
      description: 'Creates an owner contribution for a specified owner contact.


        Required permission:

        PORTFOLIOS - Write'
      operationId: createOwnerContribution
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveOwnerContribution'
        description: saveOwnerContribution
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnerContribution'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounting/ownercontributions/{ownerContributionID}:
    delete:
      tags:
      - Accounting
      summary: Delete Owner Contribution (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Delete Owner Contribution.


        Required permission:

        PORTFOLIOS - Delete'
      operationId: deleteOwnerContribution
      parameters:
      - name: ownerContributionID
        in: path
        description: Owner Contribution ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /accounting/ownerdraws:
    get:
      tags:
      - Accounting
      summary: Retrieve all the owner draws
      description: 'Retrieves a list of owner draws.


        Required permission:

        PORTFOLIOS - Read


        Sortable by: postdate, createddate, lastmodifieddatetime, portfolioid, id'
      operationId: getOwnerDraws
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: postDateStart
        in: query
        description: Filters results to any transaction with a start date on or after the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: postDateEnd
        in: query
        description: Filters results to any transaction with a start date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: portfolioID
        in: query
        description: Filters results to with portfolioID.
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OwnerDraw'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Accounting
      summary: Create an owner draw
      description: 'Creates an owner draw for a specified owner contact.


        Required permission:

        PORTFOLIOS - Write'
      operationId: createOwnerDraw
      requestBody:
        $ref: '#/components/requestBodies/SaveOwnerDraw'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnerDraw'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounting/ownerdraws/{drawID}:
    put:
      tags:
      - Accounting
      summary: Update an owner draw
      description: 'Updates an owner draw for a specified owner contact.


        Required permission:

        PORTFOLIOS - Write'
      operationId: updateOwnerDraw
      parameters:
      - name: drawID
        in: path
        description: Owner Draw ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SaveOwnerDraw'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnerDraw'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
components:
  schemas:
    Equity:
      type: object
      properties:
        discountAccount:
          type: boolean
          example: false
          description: Indicates if account is a discount account.
        escrowAccount:
          type: boolean
          example: false
          description: Indicates if account is a escrow account.
        excludeFrom1099:
          type: boolean
          example: false
          description: Indicates if account is excluded from Form1099.
        excludeFromPayInFull:
          type: boolean
          example: false
          description: Indicates if account is excluded from paying in full.
        excludeLateFee:
          type: boolean
          example: false
          description: Indicates if excluding from late fees.
        rentAccount:
          type: boolean
          example: false
          description: Indicates if account is a rent account.
        taxAccount:
          type: boolean
          example: false
          description: Indicates if account is a tax account.
        transferBalanceToRetainedEarnings:
          type: boolean
          example: false
          description: Indicates if Transfer balance at year end to Retained earnings.
      description: Equity for Request
    Income:
      type: object
      properties:
        camRecoveryAccount:
          type: boolean
          example: false
          description: Indicates if account is a CAM recovery account.
        discountAccount:
          type: boolean
          example: false
          description: Indicates if account is a discount account.
        escrowAccount:
          type: boolean
          example: false
          description: Indicates if account is a escrow account.
        excludeFrom1099:
          type: boolean
          example: false
          description: Indicates if account is excluded from Form1099.
        excludeFromPayInFull:
          type: boolean
          example: false
          description: Indicates if account is excluded from paying in full.
        excludeLateFee:
          type: boolean
          example: false
          description: Indicates if excluding from late fees.
        rentAccount:
          type: boolean
          example: false
          description: Indicates if account is a rent account.
        section8:
          type: boolean
          example: false
          description: Indicates if account is a section8 account.
        taxAccount:
          type: boolean
          example: false
          description: Indicates if account is a tax account.
      description: Income for Request
    NonOperatingInome:
      type: object
      properties:
        camRecoveryAccount:
          type: boolean
          example: false
          description: Indicates if account is a CAM recovery account.
        discountAccount:
          type: boolean
          example: false
          description: Indicates if account is a discount account.
        escrowAccount:
          type: boolean
          example: false
          description: Indicates if account is a escrow account.
        excludeFrom1099:
          type: boolean
          example: false
          description: Indicates if account is excluded from Form1099.
        excludeFromPayInFull:
          type: boolean
          example: false
          description: Indicates if account is excluded from paying in full.
        excludeLateFee:
          type: boolean
          example: false
          description: Indicates if excluding from late fees.
        rentAccount:
          type: boolean
          example: false
          description: Indicates if account is a rent account.
        taxAccount:
          type: boolean
          example: false
          description: Indicates if account is a tax account.
      description: Non Operating Income for Request
    CurrentAsset:
      type: object
      properties:
        discountAccount:
          type: boolean
          example: false
          description: Indicates if the account is a discount account.
        escrowAccount:
          type: boolean
          example: false
          description: Indicates if the account is a escrow account.
        excludeFrom1099:
          type: boolean
          example: false
          description: Indicates if the account is excluded from 1099 tax forms.
        excludeFromPayInFull:
          type: boolean
          example: false
          description: Indicates if the account is a tax account.
        excludeLateFee:
          type: boolean
          example: false
          description: Indicates if excluded from late fees.
        rentAccount:
          type: boolean
          example: false
          description: Indicates if the account is a rent account.
        taxAccount:
          type: boolean
          example: false
          description: Indicates if the account is a tax account.
      description: Current Asset for Request
    NonCurrentLiability:
      type: object
      properties:
        discountAccount:
          type: boolean
          example: false
          description: Indicates if account is a discount account.
        escrowAccount:
          type: boolean
          example: false
          description: Indicates if account is a escrow account.
        excludeFrom1099:
          type: boolean
          example: false
          description: Indicates if account is excluded from Form1099.
        excludeFromPayInFull:
          type: boolean
          example: false
          description: Indicates if account is excluded from paying in full.
        excludeLateFee:
          type: boolean
          example: false
          description: Indicates if excluding from late fees.
        rentAccount:
          type: boolean
          example: false
          description: Indicates if account is a rent account.
        securityDepositAccount:
          type: boolean
          example: false
          description: Indicates if the account is security deposit account
        taxAccount:
          type: boolean
          example: false
          description: Indicates if account is a tax account.
      description: Non Current Liability for Request
    RESTAPIError:
      type: object
      properties:
        key:
          type: string
        message:
          type: string
    Entry:
      type: object
      properties:
        buildingID:
          type: integer
          format: int64
          description: Id of the building associated with this entry.
        comment:
          type: string
          description: Transaction comment.
        credit:
          type: number
          format: double
          description: Credit amount.
        debit:
          type: number
          format: double
          description: Debit amount.
        glaccountCode:
          type: string
        glaccountID:
          type: integer
          format: int64
        id:
          type: integer
          format: int64
          description: Unique identifier.
        portfolioID:
          type: integer
          format: int64
          description: Id of the portfolio associated with this entry.
        unitID:
          type: integer
          format: int64
          description: Id of the unit associated with this entry.
      description: General Ledger Entry
    SaveOwnerContribution:
      type: object
      required:
      - amount
      - contactID
      - date
      - destinationAccountID
      - glAccountID
      - paymentType
      - portfolioID
      - refNo
      properties:
        amount:
          type: number
          format: double
          description: Amount.
        comments:
          type: string
          description: Comments.
        contactID:
          type: integer
          format: int64
          description: Id of the contact associated with this owner contribution.
        date:
          type: string
          format: date
          description: Post Date.
        destinationAccountID:
          type: integer
          format: int64
          description: Id of the bank account where the payment will be deposited.
        glAccountID:
          type: integer
          format: int64
          description: Id of the general ledger account associated with this owner contribution.
        paymentType:
          type: string
          description: Payment Type.
          enum:
          - CHECK
          - CHECK21
          - CASHIERS_CHECK
          - CREDIT_CARD
          - CASH
          - MONEY_ORDER
          - OTHER
          - CLICKPAY
          - SECTION8
          - EPAY
          - ECHECK
          - NACHA
          - RENTMONEY
          - PUBLIC_ASSISTANCE
          - PAYMENT_TYPE_NA
        portfolioID:
          type: integer
          format: int64
          description: Id of the portfolio to apply the payment to.
        refNo:
          type: string
          description: Reference No.
      description: Charge for request
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        userMessage:
          type: string
    OwnerContribution:
      type: object
      required:
      - amount
      - date
      properties:
        amount:
          type: number
          format: double
          description: Amount.
        comments:
          type: string
          description: Comments.
        contactID:
          type: integer
          format: int64
          description: Id of the contact associated with this owner contribution.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        date:
          type: string
          format: date
          description: Post date.
        destinationAccountID:
          type: integer
          format: int64
          description: Id of the bank account where the payment will be deposited.
        glAccountID:
          type: integer
          format: int64
          description: Id of the general ledger account associated with this owner contribution.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        lines:
          type: array
          description: A collection of payment line items.
          items:
            $ref: '#/components/schemas/LineItem'
        paymentType:
          type: string
          description: Payment type.
          enum:
          - CHECK
          - CHECK21
          - CASHIERS_CHECK
          - CREDIT_CARD
          - CASH
          - MONEY_ORDER
          - OTHER
          - CLICKPAY
          - SECTION8
          - EPAY
          - ECHECK
          - NACHA
          - RENTMONEY
          - PUBLIC_ASSISTANCE
          - PAYMENT_TYPE_NA
        portfolioID:
          type: integer
          format: int64
          description: Id of the portfolio to apply the payment to.
        refNo:
          type: string
          description: Reference number.
      description: Owner Contribution
    NonCurrentAsset:
      type: object
      properties:
        discountAccount:
          type: boolean
          example: false
          description: Indicates if account is a discount account.
        escrowAccount:
          type: boolean
          example: false
          description: Indicates if account is a escrow account.
        excludeFrom1099:
          type: boolean
          example: false
          description: Indicates if account is excluded from Form1099.
        excludeFromPayInFull:
          type: boolean
          example: false
          description: Indicates if account is excluded from paying in full.
        excludeLateFee:
          type: boolean
          example: false
          description: Indicates if excluding from late fees.
      description: Non Current Asset for Request
    CreditCardAccount:
      type: object
      properties:
        creditCardNumber:
          type: string
          description: Credit card number.
      description: Credit Card Account for Request
    GLItem:
      type: object
      properties:
        comment:
          type: string
          description: Comments.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        glentries:
          type: array
          items:
            $ref: '#/components/schemas/Entry'
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        leaseID:
          type: integer
          format: int64
          description: Id of the lease associated with this transaction.
        ownerID:
          type: integer
          format: int64
          description: Id of the owner associated with this transaction.
        transactionType:
          type: string
          description: Transaction type.
        txDate:
          type: string
          format: date
          description: Transaction date.
        vendorID:
          type: integer
          format: int64
          description: Id of the vendor associated with this transaction.
      description: General Ledger Transaction
    SaveOwnerDraw:
      type: object
      required:
      - amount
      - contactID
      - date
      - destinationAccountID
      - glAccountID
      - portfolioID
      - toBePrinted
      properties:
        amount:
          type: number
          format: double
          description: Amount.
        comments:
          type: string
          description: Comments.
        contactID:
          type: integer
          format: int64
          description: Id of the contact associated with this owner draw.
        date:
          type: string
          format: date
          description: Post Date.
        destinationAccountID:
          type: integer
          format: int64
          description: Id of the bank account where the payment will be made from.
        glAccountID:
          type: integer
          format: int64
          description: Id of the general ledger account associated with this owner draw.
        portfolioID:
          type: integer
          format: int64
          description: Id of the portfolio associated with this owner draw.
        refNo:
          type: string
          description: Check no required when payment method is Hand written check (i.e toBePrinted = false).
        toBePrinted:
          type: boolean
          example: false
          description: Indicates if Check is to be printed.
      description: Owner Draw for Request
    Account:
      type: object
      properties:
        accountCode:
          type: string
          description: Account code.
        accountNumber:
          type: string
          description: Account number.
        accountType:
          type: string
          description: Account type.
        active:
          type: boolean
          example: false
          description: Indicates if the account is active.
        autoApplyPrepayment:
          type: boolean
          example: false
          description: Indicates if prepayments should be auto applied.
        bankAccountHolder:
          type: string
          description: Bank account holder name.
        bankAccountNumber:
          type: string
          description: Bank account number.
        bankAddress:
          type: string
          description: Bank address.
        bankAddress2:
          type: string
          description: Bank address 2.
        bankCity:
          type: string
          description: Bank city.
        bankInstitution:
          type: string
          description: Bank institution name.
        bankRoutingNumber:
          type: string
          description: Bank account routing number.
        bankState:
          type: string
          description: Bank state.
        bankZip:
          type: string
          description: Bank zip code.
        camRecoveryAccount:
          type: boolean
          example: false
          description: Indicates if account is a CAM recovery account.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        description:
          type: string
          description: Description of the account.
        discountAccount:
          type: boolean
          example: false
          description: Indicates if account is a discount account.
        escrowAccount:
          type: boolean
          example: false
          description: Indicates if account is a escrow account.
        excludeFrom1099:
          type: boolean
          example: false
          description: Indicates if account is excluded from Form1099.
        excludeFromPayInFull:
          type: boolean
          example: false
          description: Indicates if account is excluded from paying in full.
        excludeLateFee:
          type: boolean
          example: false
          description: Indicates if excluding from late fees.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        lateFeeApplicable:
          type: boolean
          example: false
          description: Indicates if a late fee is applicable.
        name:
          type: string
          description: Account name.
        parentGLAccountId:
          type: integer
          format: int64
          description: Parent account ID.
        parentRef:
          type: string
          description: Parent account reference.
        paymentPriority:
          type: integer
          format: int32
          description: Account payment priority.
        rentAccount:
          type: boolean
          example: false
          description: Indicates if account is a rent account.
        section8:
          type: boolean
          example: false
          description: Indicates if account is a section8 account.
        securityDepositAccount:
          type: boolean
          example: false
          description: Indicates if the account is security deposit account
        taxAccount:
          type: boolean
          example: false
          description: Indicates if account is a tax account.
        transferBalanceToRetainedEarnings:
          type: boolean
          example: false
          description: Indicates if the account balance should be transferred to retained earnings.
      description: General Ledger Account
    OwnerDraw:
      type: object
      required:
      - amount
      - date
      properties:
        amount:
          type: number
          format: double
          description: Amount.
        comments:
          type: string
          description: Comments.
        contactID:
          type: integer
          format: int64
          description: Id of the contact associated with this owner draw.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        date:
          type: string
          format: date
          description: Post date.
        destinationAccountId:
          type: integer
          format: int64
          description: Id of the bank account where the payment will be made from.
        glAccountID:
          type: integer
          format: int64
          description: Id of the general ledger account associated with this owner draw.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        lines:
          type: array
          description: A collection of payment line items.
          items:
            $ref: '#/components/schemas/LineItem'
        paymentType:
          type: string
          description: Payment type.
          enum:
          - CHECK
          - CHECK21
          - CASHIERS_CHECK
          - CREDIT_CARD
          - CASH
          - MONEY_ORDER
          - OTHER
          - CLICKPAY
          - SECTION8
          - EPAY
          - ECHECK
          - NACHA
          - RENTMONEY
          - PUBLIC_ASSISTANCE
          - PAYMENT_TYPE_NA
        portfolioID:
          type: integer
          format: int64
          description: Id of the portfolio associated with this owner draw.
        refNo:
          type: string
          description: Reference number.
      description: Owner Draw
    ResponseEntity:
      type: object
      properties:
        body:
          type: object
        statusCode:
          type: string
          enum:
          - '100'
          - '101'
          - '102'
          - '103'
          - '200'
          - '201'
          - '202'
          - '203'
          - '204'
          - '205'
          - '206'
          - '207'
          - '208'
          - '226'
          - '300'
          - '301'
          - '302'
          - '303'
          - '304'
          - '305'
          - '307'
          - '308'
          - '400'
          - '401'
          - '402'
          - '403'
          - '404'
          - '405'
          - '406'
          - '407'
          - '408'
          - '409'
          - '410'
          - '411'
          - '412'
          - '413'
          - '414'
          - '415'
          - '416'
          - '417'
          - '418'
          - '419'
          - '420'
          - '421'
          - '422'
          - '423'
          - '424'
          - '426'
          - '428'
          - '429'
          - '431'
          - '500'
          - '501'
          - '502'
          - '503'
          - '504'
          - '505'
          - '506'
          - '507'
          - '508'
          - '509'
          - '510'
          - '511'
    NonOperatingExpense:
      type: object
      properties:
        camRecoveryAccount:
          type: boolean
          example: false
          description: Indicates if account is a CAM recovery account.
        discountAccount:
          type: boolean
          example: false
          description: Indicates if account is a discount account.
        escrowAccount:
          type: boolean
          example: false
          description: Indicates if account is a escrow account.
        excludeFrom1099:
          type: boolean
          example: false
          description: Indicates if account is excluded from Form1099.
        excludeFromPayInFull:
          type: boolean
          example: false
          description: Indicates if account is excluded from paying in full.
        excludeLateFee:
          type: boolean
          example: false
          description: Indicates if excluding from late fees.
        rentAccount:
          type: boolean
          example: false
          description: Indicates if account is a rent account.
        taxAccount:
          type: boolean
          example: false
          description: Indicates if account is a tax account.
      description: Non Operating Expense for Request
    Expense:
      type: object
      properties:
        camRecoveryAccount:
          type: boolean
          example: false
          description: Indicates if account is a CAM recovery account.
        discountAccount:
          type: boolean
          example: false
          description: Indicates if account is a discount account.
        escrowAccount:
          type: boolean
          example: false
          description: Indicates if account is a escrow account.
        excludeFrom1099:
          type: boolean
          example: false
          description: Indicates if account is excluded from Form1099.
        excludeFromPayInFull:
          type: boolean
          example: false
          description: Indicates if account is excluded from paying in full.
        excludeLateFee:
          type: boolean
          example: false
          description: Indicates if excluding from late fees.
        rentAccount:
          type: boolean
          example: false
          description: Indicates if account is a rent account.
        taxAccount:
          type: boolean
          example: false
          description: Indicates if account is a tax account.
      description: Expense for Request
    LineItem:
      type: object
      properties:
        buildingID:
          type: integer
          format: int64
          description: Id of the building associated with this entry.
        credit:
          type: number
          format: double
          description: Credit amount.
        debit:
          type: number
          format: double
          description: Debit amount.
        glAccountID:
          type: integer
          format: int64
          description: Id of the general ledger account associated with this entry.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        portfolioID:
          type: integer
          format: int64
          description: Id of the portfolio associated with this entry.
        unitID:
          type: integer
          format: int64
          description: Id of the unit associated with this entry.
      description: Payment line items
    SaveAccount:
      type: object
      required:
      - accountNumber
      - accountType
      - code
      - description
      properties:
        accountNumber:
          type: string
          description: Account number.
        accountType:
          type: integer
          format: int32
          description: Valid account types - 1:Bank, 2:Credit Card, 5:Current Asset, 12:Non-Current Asset, 6:Current Liability, 13:Non-Current Liability, 7:Equity, 8:Income, 9:Expense, 10:Non-Operating Income, 11:Non-Operating Expense.
        autoApplyPrepayment:
          type: boolean
          example: false
          description: Indicates if prepayments should be auto applied.
        bank:
          $ref: '#/components/schemas/Bank'
        code:
          type: string
          description: Account code.
        creditCard:
          $ref: '#/components/schemas/CreditCardAccount'
        currentAsset:
          $ref: '#/components/schemas/CurrentAsset'
        currentLiability:
          $ref: '#/components/schemas/CurrentLiability'
        description:
          type: string
          description: Description.
        equity:
          $ref: '#/components/schemas/Equity'
        expense:
          $ref: '#/components/schemas/Expense'
        income:
          $ref: '#/components/schemas/Income'
        nonCurrentAsset:
          $ref: '#/components/schemas/NonCurrentAsset'
        nonCurrentLiability:
          $ref: '#/components/schemas/NonCurrentLiability'
        nonOperatingExpense:
          $ref: '#/components/schemas/NonOperatingExpense'
        nonOperatingIncome:
          $ref: '#/components/schemas/NonOperatingInome'
        parentGLAccountId:
          type: integer
          format: int64
          description: Parent account ID.
        taxable:
          type: boolean
          example: false
          description: Indicates if the account is taxable.
      description: Create GL Account Request
    RESTAPIBulkSuccessResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
    RESTAPIBulkErrorResponse:
      type: object
      properties:
        error:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        index:
          type: integer
          format: int32
        success:
          type: boolean
    BankDeposit:
      type: object
      properties:
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        dateOpened:
          type: string
          description: Date opened.
        description:
          type: string
          description: Description.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        name:
          type: string
          description: Bank deposit name.
        status:
          type: string
          description: Status.
      description: Bank Deposit
    Bank:
      type: object
      properties:
        bankAccountHolder:
          type: string
          description: Account holder.
        bankAccountHolderSSNMasked:
          type: string
          description: Account holder SSN.
        bankAccountNumberDecrypted:
          type: string
          description: Bank account number.
        bankAccountType:
          type: integer
          format: int32
          description: 'Bank account type - 1: Checking, 2: Savings'
        bankAddress:
          type: string
          description: Bank address line 1.
        bankAddress2:
          type: string
          description: Bank address line 2.
        bankCity:
          type: string
          description: City.
        bankInstitution:
          type: string
          description: Bank name.
        bankRoutingNumberDecrypted:
          type: string
          description: Bank routing number.
        bankState:
          type: string
          description: State.
        bankTransitFraction:
          type: string
          description: Bank transit fraction.
        bankZip:
          type: string
          description: Zip.
        depositTicketType:
          type: integer
          format: int32
          description: Deposit ticket type.
        nachaCompanyID:
          type: string
          description: Nacha company ID.
        nachaEnabled:
          type: boolean
          example: false
          description: Indicates if Nacha payment type is enabled.
        nachaImmediateDestinationNumber:
          type: string
          description: Nacha destination number.
        nachaImmediateOriginNumber:
          type: string
          description: Nacha immediate origin number.
        nachaOriginatingDFINumber:
          type: string
          description: Nacha originating DFI number.
      description: Bank for Request
    CurrentLiability:
      type: object
      properties:
        discountAccount:
          type: boolean
          example: false
          description: Indicates if the account is a discount account.
        escrowAccount:
          type: boolean
          example: false
          description: Indicates if the account is a escrow account.
        excludeFrom1099:
          type: boolean
          example: false
          description: Indicates if the account is excluded from 1099 tax forms.
        excludeFromPayInFull:
          type: boolean
          example: false
          description: Indicates if the account is excluded from paying in full.
        excludeLateFee:
          type: boolean
          example: false
          description: Indicates if the account is excluded from late fees.
        rentAccount:
          type: boolean
          example: false
          description: Indicates if the account is a rent account.
        securityDepositAccount:
          type: boolean
          example: false
          description: Indicates if the account is security deposit account
        taxAccount:
          type: boolean
          example: false
          description: Indicates if the account is a tax account.
      description: Current Liability for Request
    SaveBankDeposit:
      type: object
      required:
      - bankGLAccountID
      - dateOpened
      - listOfTxIDs
      properties:
        bankGLAccountID:
          type: integer
          format: int64
          description: Bank general ledger account ID.
        dateOpened:
          type: string
          format: date
          description: Date opened.
        description:
          type: string
          description: Description
        listOfTxIDs:
          type: string
          description: Comma separated list of Transaction IDs.
      description: Bank Deposit for Request
  requestBodies:
    SaveAccount:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveAccount'
      description: saveAccount
      required: true
    SaveOwnerDraw:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveOwnerDraw'
      description: saveOwnerDraw
      required: true
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: x-propertyware-client-id
    clientSecret:
      type: apiKey
      in: header
      name: x-propertyware-client-secret
    organizationId:
      type: apiKey
      in: header
      name: x-propertyware-system-id
