openapi: 3.2.0
info:
  description: "\uFEFF\n\n# Introduction\n\nWelcome to Propertyware’s API—a powerful, RESTful programming interface that lets you leverage valuable Propertyware data."
  version: '1.0'
  title: Open API, powered by Propertyware Vendors API
  contact:
    name: Propertyware
    email: support@propertyware.com
  x-logo:
    url: logo.png
    backgroundColor: '#fff'
    altText: Propertyware, A RealPage Company
    href: https://www.propertyware.com
servers:
- url: https://api.propertyware.com/pw/api/rest/v1
security:
- clientId: []
- clientSecret: []
- organizationId: []
tags:
- name: Vendors
  description: Resources providing access to vendors.
paths:
  /vendors:
    get:
      tags:
      - Vendors
      summary: Retrieve all vendors
      description: 'Retrieves a list of vendors.


        Required permission:

        VENDORS - Read


        Sortable by: createddate, vendortype, lastmodifieddatetime, id'
      operationId: getVendors
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: active
        in: query
        description: Filters results by the vendor's status. If no value is specified, vendors with any status will be returned.
        required: false
        schema:
          type: boolean
      - name: type
        in: query
        description: Filters results to units with a specific type.
        required: false
        schema:
          type: string
      - name: includeCustomFields
        in: query
        description: includeCustomFields
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vendor'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Vendors
      summary: Create a vendor
      description: 'Creates a vendor.


        Required permission:

        VENDORS - Write'
      operationId: createVendor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveVendor'
        description: saveVendor
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendor'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /vendors/bulk:
    post:
      tags:
      - Vendors
      summary: Create Vendors in bulk
      description: 'Creates Vendors in bulk.


        Required permission:

        VENDORS - Write'
      operationId: createVendors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SaveVendor'
        description: saveVendor
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkSuccessResponse'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /vendors/customfields:
    put:
      tags:
      - Vendors
      summary: Update a vendor custom fields (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Updates an existing vendor custom fields


        Required permission:

        VENDORS - Write'
      operationId: updateVendor
      requestBody:
        $ref: '#/components/requestBodies/SaveCustomField'
      responses:
        '200':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /vendors/{vendorID}:
    get:
      tags:
      - Vendors
      summary: Retrieve a vendor
      description: 'Retrieves a specific vendor.


        Required permission:

        VENDORS - Read'
      operationId: getVendor
      parameters:
      - name: vendorID
        in: path
        description: Vendor ID
        required: true
        schema:
          type: integer
          format: int64
      - name: includeCustomFields
        in: query
        description: includeCustomFields
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendor'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /vendors/{vendorID}/account:
    get:
      tags:
      - Vendors
      summary: Retrieve vendor GL account
      description: 'Retrieves the default general ledger account of a vendor.


        Required permission:

        VENDORS - Read'
      operationId: getVendorAccount
      parameters:
      - name: vendorID
        in: path
        description: Vendor ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /vendors/{vendorID}/conversations:
    get:
      tags:
      - Vendors
      summary: Retrieve all vendor conversations
      description: 'Retrieves all the conversations of a vendor.


        Required permission:

        VENDORS - Read


        Sortable by: createddate, lastmodifieddatetime, id'
      operationId: getVendorConversations
      parameters:
      - name: vendorID
        in: path
        description: Vendor ID
        required: true
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: Filters results by the conversation type.
        required: false
        schema:
          type: string
          enum:
          - MANAGEMENT_TEAM
          - OWNER
          - TENANT
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conversation'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /vendors/{vendorID}/conversations/{conversationID}:
    get:
      tags:
      - Vendors
      summary: Retrieve a vendor conversation
      description: 'Retrieves a specific vendor conversation.


        Required permission:

        VENDORS - Read'
      operationId: getVendorConversation
      parameters:
      - name: vendorID
        in: path
        description: Vendor ID
        required: true
        schema:
          type: integer
          format: int64
      - name: conversationID
        in: path
        description: Conversation ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
components:
  schemas:
    Comment:
      type: object
      properties:
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        text:
          type: string
          description: Comment text.
      description: Comment
    Vendor:
      type: object
      properties:
        accountNumber:
          type: string
          description: Account number.
        active:
          type: boolean
          example: false
          description: Indicates if the vendor is active.
        address:
          type: string
          description: Address.
        address2:
          type: string
          description: Address line 2.
        alertEmail:
          type: string
          description: Alert Email
        city:
          type: string
          description: City.
        comments:
          type: string
          description: Comments.
        companyName:
          type: string
          description: Name of the vendor's company.
        country:
          type: string
          description: Country.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        creditLimit:
          type: number
          format: double
          description: Credit limit.
        customFields:
          type: array
          description: Custom fields.
          items:
            $ref: '#/components/schemas/CustomField'
        defaultBillSplitAccountId:
          type: integer
          format: int64
          description: Default bill split id
        defaultMarkupDiscountPercentage:
          type: number
          format: double
          description: Default markup discount
        description:
          type: string
          description: Description.
        eligible1099:
          type: boolean
          example: false
          description: Indicates if the vendor is eligible for a 1099 form.
        email:
          type: string
          description: Email address.
        fax:
          type: string
          description: Fax number.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        includeCompanyNameOn1099:
          type: boolean
          example: false
          description: Include company name on 1099
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        markupAccountId:
          type: integer
          format: int64
          description: Markup account id
        name:
          type: string
          description: Name.
        nameOnCheck:
          type: string
          description: Name to be used on checks.
        otherPhone:
          type: string
          description: Other phone number.
        paymentTermDaysToPay:
          type: integer
          format: int32
          description: The number of days within payments are due.
        paymentTerms:
          type: string
          description: Payment terms.
        phone:
          type: string
          description: Phone number.
        searchTag:
          type: string
          description: Search Tag
        state:
          type: string
          description: State.
        syncToVMM:
          type: boolean
          example: false
          description: Vendor Sync To Maintenance.
        taxId:
          type: string
          description: Tax identification number.
        taxPayerName:
          type: string
          description: Tax Payer Name
        timeTracking:
          type: string
          description: Time Tracking, is enabled or disabled
        type:
          type: string
          description: The type of vendor.
        website:
          type: string
          description: Website URL.
        zip:
          type: string
          description: ZIP or postal code.
      description: Vendor
    RESTAPIBulkErrorResponse:
      type: object
      properties:
        error:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        index:
          type: integer
          format: int32
        success:
          type: boolean
    CustomFieldSet:
      type: object
      required:
      - name
      - value
      properties:
        name:
          type: string
          description: Custom Field name
        value:
          type: string
          description: Custom Field value
      description: Custom field set for Request
    Account:
      type: object
      properties:
        accountCode:
          type: string
          description: Account code.
        accountNumber:
          type: string
          description: Account number.
        accountType:
          type: string
          description: Account type.
        active:
          type: boolean
          example: false
          description: Indicates if the account is active.
        autoApplyPrepayment:
          type: boolean
          example: false
          description: Indicates if prepayments should be auto applied.
        bankAccountHolder:
          type: string
          description: Bank account holder name.
        bankAccountNumber:
          type: string
          description: Bank account number.
        bankAddress:
          type: string
          description: Bank address.
        bankAddress2:
          type: string
          description: Bank address 2.
        bankCity:
          type: string
          description: Bank city.
        bankInstitution:
          type: string
          description: Bank institution name.
        bankRoutingNumber:
          type: string
          description: Bank account routing number.
        bankState:
          type: string
          description: Bank state.
        bankZip:
          type: string
          description: Bank zip code.
        camRecoveryAccount:
          type: boolean
          example: false
          description: Indicates if account is a CAM recovery account.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        description:
          type: string
          description: Description of the account.
        discountAccount:
          type: boolean
          example: false
          description: Indicates if account is a discount account.
        escrowAccount:
          type: boolean
          example: false
          description: Indicates if account is a escrow account.
        excludeFrom1099:
          type: boolean
          example: false
          description: Indicates if account is excluded from Form1099.
        excludeFromPayInFull:
          type: boolean
          example: false
          description: Indicates if account is excluded from paying in full.
        excludeLateFee:
          type: boolean
          example: false
          description: Indicates if excluding from late fees.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        lateFeeApplicable:
          type: boolean
          example: false
          description: Indicates if a late fee is applicable.
        name:
          type: string
          description: Account name.
        parentGLAccountId:
          type: integer
          format: int64
          description: Parent account ID.
        parentRef:
          type: string
          description: Parent account reference.
        paymentPriority:
          type: integer
          format: int32
          description: Account payment priority.
        rentAccount:
          type: boolean
          example: false
          description: Indicates if account is a rent account.
        section8:
          type: boolean
          example: false
          description: Indicates if account is a section8 account.
        securityDepositAccount:
          type: boolean
          example: false
          description: Indicates if the account is security deposit account
        taxAccount:
          type: boolean
          example: false
          description: Indicates if account is a tax account.
        transferBalanceToRetainedEarnings:
          type: boolean
          example: false
          description: Indicates if the account balance should be transferred to retained earnings.
      description: General Ledger Account
    SaveCustomField:
      type: object
      required:
      - entityId
      - fieldSet
      properties:
        entityId:
          type: integer
          format: int64
          description: Unique identifier of an entity custom field associated to.
        fieldSet:
          type: array
          description: List of Custom fields to update
          items:
            $ref: '#/components/schemas/CustomFieldSet'
      description: Custom field for Request
    Conversation:
      type: object
      properties:
        comments:
          type: array
          description: List of comments in the conversation.
          items:
            $ref: '#/components/schemas/Comment'
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        entityID:
          type: integer
          format: int64
          description: Id of the entity related to this conversation.
        entityType:
          type: string
          description: Type of the entity related to this conversation.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        subject:
          type: string
          description: Conversation subject.
        type:
          type: string
          description: Conversation type.
          enum:
          - MANAGEMENT_TEAM
          - OWNER
          - TENANT
      description: Conversation
    ResponseEntity:
      type: object
      properties:
        body:
          type: object
        statusCode:
          type: string
          enum:
          - '100'
          - '101'
          - '102'
          - '103'
          - '200'
          - '201'
          - '202'
          - '203'
          - '204'
          - '205'
          - '206'
          - '207'
          - '208'
          - '226'
          - '300'
          - '301'
          - '302'
          - '303'
          - '304'
          - '305'
          - '307'
          - '308'
          - '400'
          - '401'
          - '402'
          - '403'
          - '404'
          - '405'
          - '406'
          - '407'
          - '408'
          - '409'
          - '410'
          - '411'
          - '412'
          - '413'
          - '414'
          - '415'
          - '416'
          - '417'
          - '418'
          - '419'
          - '420'
          - '421'
          - '422'
          - '423'
          - '424'
          - '426'
          - '428'
          - '429'
          - '431'
          - '500'
          - '501'
          - '502'
          - '503'
          - '504'
          - '505'
          - '506'
          - '507'
          - '508'
          - '509'
          - '510'
          - '511'
    CustomField:
      type: object
      properties:
        dataType:
          type: string
          description: Data type of the custom field.
        definitionID:
          type: integer
          format: int64
          description: Id of the custom field definition.
        fieldName:
          type: string
          description: Name of the custom field.
        value:
          type: string
          description: Value of the custom field.
      description: Custom field.
    RESTAPIError:
      type: object
      properties:
        key:
          type: string
        message:
          type: string
    SaveVendor:
      type: object
      required:
      - companyName
      - name
      - nameOnCheck
      - vendorType
      properties:
        accountNumber:
          type: string
          description: Account Number
        address:
          type: string
          description: Address
        address2:
          type: string
          description: Address2
        alertEmail:
          type: string
          description: Alert Email
        city:
          type: string
          description: City
        companyName:
          type: string
          description: Vendor Company Name
        country:
          type: string
          description: Country
        creditLimit:
          type: number
          format: double
          description: Credit Limit
        daysToPay:
          type: integer
          format: int32
          description: Payment Terms days to pay.
          enum:
          - 0
          - 5
          - 10
          - 15
          - 30
          - 45
          - 60
          - 90
        defaultBillSplitAccountId:
          type: integer
          format: int64
          description: Default bill split id
        defaultMarkupDiscountPercentage:
          type: number
          format: double
          description: Default markup discount
        description:
          type: string
          description: Description
        eligible1099:
          type: boolean
          example: false
          description: Eligible For 1099
        email:
          type: string
          description: EMail
        fax:
          type: string
          description: Fax
        includeCompanyNameOn1099:
          type: boolean
          example: false
          description: Include company name on 1099
        markupAccountId:
          type: integer
          format: int64
          description: Markup account id
        name:
          type: string
          description: Vendor Name
        nameOnCheck:
          type: string
          description: Vendor Name On Check
        phone:
          type: string
          description: Phone
        searchTag:
          type: string
          description: Search Tag
        state:
          type: string
          description: State
        syncToVMM:
          type: boolean
          example: false
          description: Sync to maintenance
        taxID:
          type: string
          description: Tax ID
        taxPayerName:
          type: string
          description: Tax Payer Name
        terms:
          type: string
          description: Payment Terms Description, default value('NET 30')
        timeTracking:
          type: boolean
          example: false
          description: Time Tracking, is enabled or disabled
        vendorType:
          type: string
          description: "Vendor type. This is a user configurable list with the following initial default values <Banking - General>,\n <Banking - Mortgage>, <Banking - Investment>, <Contractors - Carpentry>, <Contractors - Dry Wall>, <Contractors - Electrical>, <Contractors - Fencing>, <Contractors - Flooring>, <Contractors - General>, <Contractors - HVAC>, <Contractors - Landscaping>, <Contractors - Masonry>, <Contractors - Miscellaneous>, <Contractors - Painting>, <Contractors - Paving>, <Contractors - Plumbing>, <Contractors - Roofing>, <Contractors - Sheet Metal>, <Contractors - Windows>, <Owners>, <Management Company>, <Suppliers - Carpets>, <Suppliers - Electrical>, <Suppliers - General>, <Suppliers - Lighting>, <Suppliers - Lumber>, <Suppliers - Plumbing>, <Suppliers - Security>, <Suppliers - Stone>, <Suppliers - Tiling>, <Suppliers - Windows>, <Utilities - Communications>, <Utilities - Gas & Electric>, <Utilities - Waste Management>, <Utilities - Water>"
        website:
          type: string
          description: Website
        zip:
          type: string
          description: Zip
      description: Vendor for Request
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/RESTAPIError'
        userMessage:
          type: string
    RESTAPIBulkSuccessResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
  requestBodies:
    SaveCustomField:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveCustomField'
      description: saveCustomField
      required: true
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: x-propertyware-client-id
    clientSecret:
      type: apiKey
      in: header
      name: x-propertyware-client-secret
    organizationId:
      type: apiKey
      in: header
      name: x-propertyware-system-id
