openapi: 3.2.0
info:
  description: "\uFEFF\n\n# Introduction\n\nWelcome to Propertyware’s API—a powerful, RESTful programming interface that lets you leverage valuable Propertyware data."
  version: '1.0'
  title: Open API, powered by Propertyware Leases API
  contact:
    name: Propertyware
    email: support@propertyware.com
  x-logo:
    url: logo.png
    backgroundColor: '#fff'
    altText: Propertyware, A RealPage Company
    href: https://www.propertyware.com
servers:
- url: https://api.propertyware.com/pw/api/rest/v1
security:
- clientId: []
- clientSecret: []
- organizationId: []
tags:
- name: Leases
  description: Resources providing access to rental property leases.
paths:
  /leases:
    get:
      tags:
      - Leases
      summary: Retrieve all leases
      description: 'Retrieves a list of leases.


        Required permission:

        LEASES - Read


        Sortable by: startdate, idnumber, scheduledmoveoutdate, enddate, lastmodifieddatetime, status, moveoutdate, id, moveindate'
      operationId: getLeases
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: startDateStart
        in: query
        description: Filters results to any lease with a start date on or after the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: startDateEnd
        in: query
        description: Filters results to any lease with a start date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: endDateStart
        in: query
        description: Filters results to any lease with a end date on or after the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: endDateEnd
        in: query
        description: Filters results to any lease with a end date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: moveInDateStart
        in: query
        description: Filters results to any lease with a move-in date on or after the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: moveInDateEnd
        in: query
        description: Filters results to any lease with a move-in date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: scheduleMoveOutDateStart
        in: query
        description: Filters results to any lease with a move-out date on or after the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: scheduleMoveOutDateEnd
        in: query
        description: Filters results to any lease with a move-out date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: portfolioID
        in: query
        description: Filters results to leases associated with a specific portfolio.
        required: false
        schema:
          type: integer
          format: int64
      - name: buildingID
        in: query
        description: Filters results to leases associated with a specific building.
        required: false
        schema:
          type: integer
          format: int64
      - name: unitID
        in: query
        description: Filters results to leases associated with a specific unit.
        required: false
        schema:
          type: integer
          format: int64
      - name: status
        in: query
        description: Filters results to inspections with a specific status.
        required: false
        schema:
          type: string
      - name: includeCustomFields
        in: query
        description: includeCustomFields
        required: false
        schema:
          type: boolean
          default: false
      - name: includeOtherBalances
        in: query
        description: includeOtherBalances
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Lease'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Leases
      summary: Create a lease
      description: 'Creates a new lease.


        Required permission:

        LEASES - Write'
      operationId: createLease
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveLease'
        description: saveLease
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lease'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/adjustments:
    get:
      tags:
      - Leases
      summary: Retrieve all the adjustments
      description: 'Retrieves a list of adjustments.


        Required permission:

        LEASES - Read


        Sortable by: leaseid, postdate, id'
      operationId: getLeaseAdjustments
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: postDateStart
        in: query
        description: Filters results to any transaction with a start date on or after the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: postDateEnd
        in: query
        description: Filters results to any transaction with a start date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: portfolioID
        in: query
        description: Filters results associated with a specific portfolio.
        required: false
        schema:
          type: integer
          format: int64
      - name: leaseID
        in: query
        description: Filters results with Lease ID.
        required: false
        schema:
          type: integer
          format: int64
      - name: status
        in: query
        description: Filters results to with Lease Status.
        required: false
        schema:
          type: string
      - name: glAccountID
        in: query
        description: Filters results with GLAccount ID.
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Adjustment'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Leases
      summary: Create a lease adjustment (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Creates a lease adjustment.


        Required permission:

        LEASES - Write'
      operationId: createLeaseAdjustment
      requestBody:
        $ref: '#/components/requestBodies/SaveAdjustment'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adjustment'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /leases/adjustments/{adjustmentID}:
    put:
      tags:
      - Leases
      summary: Update a lease adjustment (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Updates an lease adjustment.


        Required permission:

        LEASES - Write'
      operationId: updateLeaseAdjustment
      parameters:
      - name: adjustmentID
        in: path
        description: Adjustment ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SaveAdjustment'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adjustment'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/autocharges:
    get:
      tags:
      - Leases
      summary: Retrieve all lease auto charges (New)
      description: 'Retrieves all the auto charges of a lease.


        Required permission:

        LEASES - Read


        Sortable by: createddate, lastmodifieddatetime, id'
      operationId: getLeaseAutoCharges
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: leaseID
        in: query
        description: Filters results with Lease ID.
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Charge'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    post:
      tags:
      - Leases
      summary: Create lease auto charges (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Creates lease auto charges.


        Required permission:

        LEASES - Write'
      operationId: createLeaseAutoCharges
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoCharge'
        description: autoCharge
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Charge'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /leases/charges:
    get:
      tags:
      - Leases
      summary: Retrieve all the lease charges
      description: 'Retrieves a list of lease charges.


        Required permission:

        LEASES - Read


        Sortable by: leaseid, postdate, createddate, lastmodifieddatetime, id'
      operationId: getLeaseCharges
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: postDateStart
        in: query
        description: Filters results to any transaction with a start date on or after the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: postDateEnd
        in: query
        description: Filters results to any transaction with a start date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: portfolioID
        in: query
        description: Filters results associated with a specific portfolio.
        required: false
        schema:
          type: integer
          format: int64
      - name: leaseID
        in: query
        description: Filters results with Lease ID.
        required: false
        schema:
          type: integer
          format: int64
      - name: status
        in: query
        description: Filters results to with Lease Status.
        required: false
        schema:
          type: string
      - name: glAccountID
        in: query
        description: Filters results with GLAccount ID.
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChargeTx'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Leases
      summary: Create a lease charge (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Creates a lease charge.


        Required permission:

        LEASES - Write'
      operationId: createLeaseCharge
      requestBody:
        $ref: '#/components/requestBodies/SaveCharge'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeTx'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /leases/charges/bulk:
    post:
      tags:
      - Leases
      summary: Create lease charges in bulk (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Creates lease charges in bulk.


        Required permission:

        LEASES - Write'
      operationId: createLeaseCharges
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SaveCharge'
        description: saveCharge
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkSuccessResponse'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RESTAPIBulkErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /leases/charges/{chargeID}:
    put:
      tags:
      - Leases
      summary: Update a lease charge (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Updates a lease charge.


        Required permission:

        LEASES - Write'
      operationId: updateLeaseCharge
      parameters:
      - name: chargeID
        in: path
        description: Charge ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SaveCharge'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeTx'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    delete:
      tags:
      - Leases
      summary: Delete a lease charge (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Deletes a specific lease charge.


        Required permission:

        LEASES - Delete'
      operationId: deleteLeaseCharge
      parameters:
      - name: chargeID
        in: path
        description: Charge ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/creditmemos:
    get:
      tags:
      - Leases
      summary: Retrieve all the credit memos
      description: 'Retrieves a list of credit memos.


        Required permission:

        LEASES - Read


        Sortable by: leaseid, postdate, createddate, lastmodifieddatetime, id'
      operationId: getLeaseCreditMemos
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: postDateStart
        in: query
        description: Filters results to any transaction with a start date on or after the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: postDateEnd
        in: query
        description: Filters results to any transaction with a start date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: portfolioID
        in: query
        description: Filters results associated with a specific portfolio.
        required: false
        schema:
          type: integer
          format: int64
      - name: leaseID
        in: query
        description: Filters results with Lease ID.
        required: false
        schema:
          type: integer
          format: int64
      - name: status
        in: query
        description: Filters results to with Lease Status.
        required: false
        schema:
          type: string
      - name: glAccountID
        in: query
        description: Filters results with GLAccount ID.
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreditMemo'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/customfields:
    put:
      tags:
      - Leases
      summary: Update a lease custom fields (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Updates an existing lease custom fields


        Required permission:

        LEASES - Write'
      operationId: updateLease
      requestBody:
        $ref: '#/components/requestBodies/SaveCustomField'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/discounts:
    get:
      tags:
      - Leases
      summary: Retrieve all the lease discounts
      description: 'Retrieves a list of lease discounts


        Required permission:

        LEASES - Read


        Sortable by: leaseid, postdate, createddate, lastmodifieddatetime, id'
      operationId: getLeaseDiscounts
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: leaseID
        in: query
        description: Filters results to any LeaseID.
        required: false
        schema:
          type: integer
          format: int64
      - name: postDateStart
        in: query
        description: Filters results to any discount with a start date on or after the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: postDateEnd
        in: query
        description: Filters results to any discount with a start date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Discount'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Leases
      summary: Create a lease discount (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Creates a lease discount.


        Required permission:

        LEASES - Write'
      operationId: createLeaseDiscount
      requestBody:
        $ref: '#/components/requestBodies/SaveDiscount'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Discount'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /leases/discounts/{discountID}:
    put:
      tags:
      - Leases
      summary: Updates a lease Discount (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Updates a lease Discount.


        Required permission:

        LEASES - Write'
      operationId: updateLeaseDiscount
      parameters:
      - name: discountID
        in: path
        description: Discount ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SaveDiscount'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Discount'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/journalentries:
    get:
      tags:
      - Leases
      summary: Retrieve all lease journal entries (New)
      description: 'Retrieves a list of lease journal entries.


        Required permission:

        LEASES - Read


        Sortable by: postdate, createddate, lastmodifieddatetime, id'
      operationId: getLeaseJournalEntryUsingGET_1
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: leaseID
        in: query
        description: Filters results to transactions associated with a specific lease.
        required: false
        schema:
          type: integer
          format: int64
      - name: postDateStart
        in: query
        description: Filters results to any transaction with post date on or after to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: postDateEnd
        in: query
        description: Filters results to any transaction with post date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntry'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    post:
      tags:
      - Leases
      summary: Create a lease journal entry (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Creates a lease journal entry.


        Required permission:

        LEASES - Write'
      operationId: createJournalEntry
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveLeaseJournalEntry'
        description: saveLeaseJournalEntry
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntry'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /leases/journalentries/{journalentryID}:
    put:
      tags:
      - Leases
      summary: Update a lease journal entry (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Updates a lease journal entry.


        Required permission:

        LEASES - Write'
      operationId: updateLeaseJournalEntry
      parameters:
      - name: journalentryID
        in: path
        description: Journal Entry ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLeaseJournalEntry'
        description: updateLeaseJournalEntry
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntry'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/journalentries/{leaseID}:
    get:
      tags:
      - Leases
      summary: Retrieve all lease journal entries
      description: 'Retrieves a specific lease journal entries.


        Required permission:

        LEASES - Read


        Sortable by: postdate, createddate, lastmodifieddatetime, id'
      operationId: getLeaseJournalEntry
      parameters:
      - name: leaseID
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: leaseID
        in: query
        description: Filters results to transactions associated with a specific lease.
        required: false
        schema:
          type: integer
          format: int64
      - name: postDateStart
        in: query
        description: Filters results to any transaction with post date on or after to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: postDateEnd
        in: query
        description: Filters results to any transaction with post date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntry'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/payments:
    get:
      tags:
      - Leases
      summary: Retrieve all the lease payments
      description: 'Retrieves a list of lease payments.


        Required permission:

        LEASES - Read


        Sortable by: leaseid, postdate, createddate, lastmodifieddatetime, id'
      operationId: getLeasePayments
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: postDateStart
        in: query
        description: Filters results to any transaction with a start date on or after the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: postDateEnd
        in: query
        description: Filters results to any transaction with a start date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: portfolioID
        in: query
        description: Filters results associated with a specific portfolio.
        required: false
        schema:
          type: integer
          format: int64
      - name: leaseID
        in: query
        description: Filters results with Lease ID.
        required: false
        schema:
          type: integer
          format: int64
      - name: status
        in: query
        description: Filters results to with Lease Status.
        required: false
        schema:
          type: string
      - name: glAccountID
        in: query
        description: Filters results with GLAccount ID.
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Payment'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Leases
      summary: Create a lease payment (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Creates a lease payment.


        Required permission:

        LEASES - Write'
      operationId: createLeasePayment
      requestBody:
        $ref: '#/components/requestBodies/SavePayment'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /leases/payments/{entityID}:
    put:
      tags:
      - Leases
      summary: Update a lease payment (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Updates a lease payment.


        Required permission:

        LEASES - Write'
      operationId: updateLeasePayment
      parameters:
      - name: entityID
        in: path
        description: Lease Payment ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SavePayment'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/refunds:
    get:
      tags:
      - Leases
      summary: Retrieve all the tenant refunds
      description: 'Retrieves a list of tenant refunds.


        Required permission:

        LEASES - Read


        Sortable by: leaseid, postdate, createddate, lastmodifieddatetime, id'
      operationId: getLeaseRefunds
      parameters:
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: postDateStart
        in: query
        description: Filters results to any transaction with a start date on or after the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: postDateEnd
        in: query
        description: Filters results to any transaction with a start date on or prior to the date specified.
        required: false
        schema:
          type: string
          format: date
      - name: portfolioID
        in: query
        description: Filters results associated with a specific portfolio.
        required: false
        schema:
          type: integer
          format: int64
      - name: leaseID
        in: query
        description: Filters results with Lease ID.
        required: false
        schema:
          type: integer
          format: int64
      - name: status
        in: query
        description: Filters results to with Lease Status.
        required: false
        schema:
          type: string
      - name: glAccountID
        in: query
        description: Filters results with GLAccount ID.
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Refund'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Leases
      summary: Create a lease refund (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Creates a lease refund.


        Required permission:

        LEASES - Write'
      operationId: createLeaseRefund
      requestBody:
        $ref: '#/components/requestBodies/SaveRefund'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /leases/refunds/{refundID}:
    put:
      tags:
      - Leases
      summary: Update a lease refund (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Update an lease refund.


        Required permission:

        LEASES - Write'
      operationId: updateLeaseRefund
      parameters:
      - name: refundID
        in: path
        description: Refund ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SaveRefund'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/statuses:
    get:
      tags:
      - Leases
      summary: Retrieve all lease statuses (BETA)
      description: 'Note: This operation is still in beta and might be subject to breaking changes. Production integrations should be avoided at this stage.


        Retrieves a list of all lease statuses


        Required permission:

        LEASES - Read'
      operationId: getAllLeaseStatuses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LeaseStatus'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/{leaseID}:
    delete:
      tags:
      - Leases
      summary: Delete a lease (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Deletes a lease


        Required permission:

        LEASES - Delete'
      operationId: deleteLease
      parameters:
      - name: leaseID
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/{leaseID}/conversations:
    get:
      tags:
      - Leases
      summary: Retrieve all lease conversations
      description: 'Retrieves all the conversations of a lease.


        Required permission:

        LEASES - Read


        Sortable by: createddate, lastmodifieddatetime, id'
      operationId: getLeaseConversations
      parameters:
      - name: leaseID
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        description: '`offset` indicates the position of the first record to return. The offset is zero-based and the default is 0.'
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: '`limit` indicates the maximum number of results to be returned in the response. `limit` can range between 1 and 500 and the default is 100.'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: lastModifiedDateTimeStart
        in: query
        description: 'Filters results to any item modified on or after the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeEnd
        in: query
        description: 'Filters results to any item modified on or prior to the date time specified. '
        required: false
        schema:
          type: string
          format: date-time
      - name: orderby
        in: query
        description: Indicates the field(s) and direction to sort the results in the response.
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: Filters results by the conversation type.
        required: false
        schema:
          type: string
          enum:
          - MANAGEMENT_TEAM
          - OWNER
          - TENANT
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              description: The total resultset count
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conversation'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    post:
      tags:
      - Leases
      summary: Create a lease conversation
      description: 'Creates a specific lease conversation.


        Required permission:

        LEASES - Write'
      operationId: createLeaseConversation
      parameters:
      - name: leaseID
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SaveConversation'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/{leaseID}/conversations/{conversationID}:
    get:
      tags:
      - Leases
      summary: Retrieve a lease conversation
      description: 'Retrieves a specific lease conversation.


        Required permission:

        LEASES - Read'
      operationId: getLeaseConversation
      parameters:
      - name: leaseID
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      - name: conversationID
        in: path
        description: Conversation ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    delete:
      tags:
      - Leases
      summary: Delete a lease conversation (BETA)
      description: 'Note: Write access is only available to customers who have opted in to our beta program. Please reach out to support if you''d like to be included.


        Deletes a specific lease conversation.


        Required permission:

        LEASES - Delete'
      operationId: deleteLeaseConversation
      parameters:
      - name: leaseID
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      - name: conversationID
        in: path
        description: Conversation ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/{leaseID}/conversations/{conversationID}/comments:
    post:
      tags:
      - Leases
      summary: Add comment to a lease conversation
      description: 'Adds comment to a lease conversation.


        Required permission:

        LEASES - Write'
      operationId: addCommentToLeaseConversation
      parameters:
      - name: leaseID
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      - name: conversationID
        in: path
        description: Conversation ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        $ref: '#/components/requestBodies/SaveComment'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/{leaseId}:
    get:
      tags:
      - Leases
      summary: Retrieve a lease
      description: 'Retrieves a specific lease.


        Required permission:

        LEASES - Read'
      operationId: getLease
      parameters:
      - name: leaseId
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      - name: includeCustomFields
        in: query
        description: includeCustomFields
        required: false
        schema:
          type: boolean
          default: true
      - name: includeOtherBalances
        in: query
        description: includeOtherBalances
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lease'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
    put:
      tags:
      - Leases
      summary: Update a lease
      description: 'Updates an existing lease.


        Required permission:

        LEASES - Write'
      operationId: updateLeaseUsingPUT_1
      parameters:
      - name: leaseId
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveLease'
        description: lease
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lease'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/{leaseId}/autocharges:
    get:
      tags:
      - Leases
      summary: Retrieve all lease auto charges
      description: 'Retrieves all the auto charges of a lease.


        Required permission:

        LEASES - Read'
      operationId: getLeaseAutoChargesUsingGET_1
      parameters:
      - name: leaseId
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Charge'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/{leaseId}/autoepayments:
    get:
      tags:
      - Leases
      summary: Retrieve all lease auto ePayments (BETA)
      description: 'Note: This operation is still in beta and might be subject to breaking changes. Production integrations should be avoided at this stage.


        Retrieves all the auto ePayments of a lease.


        Required permission:

        LEASES - Read'
      operationId: getLeaseAutoEPayments
      parameters:
      - name: leaseId
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoPayment'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/{leaseId}/autojournalentries:
    get:
      tags:
      - Leases
      summary: Retrieve all lease auto journal entries (BETA)
      description: 'Note: This operation is still in beta and might be subject to breaking changes. Production integrations should be avoided at this stage.


        Retrieves all the auto journal entries of a lease.


        Required permission:

        LEASES - Read'
      operationId: getLeaseAutoJournalEntries
      parameters:
      - name: leaseId
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoJournalEntry'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/{leaseId}/contacts:
    get:
      tags:
      - Leases
      summary: Retrieve all lease contacts
      description: 'Retrieves all the contacts of a lease.


        Required permission:

        LEASES - Read'
      operationId: getLeaseContacts
      parameters:
      - name: leaseId
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      - name: includeCustomFields
        in: query
        description: includeCustomFields
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactExtension'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/{leaseId}/customfields:
    get:
      tags:
      - Leases
      summary: Retrieve all lease custom fields
      description: 'Retrieves all the custom fields of a lease.


        Required permission:

        LEASES - Read'
      operationId: getLeaseCustomFields
      parameters:
      - name: leaseId
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomField'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/{leaseId}/document:
    get:
      tags:
      - Leases
      summary: Retrieve all lease documents
      description: 'Retrieves all the documents of a lease.


        Required permission:

        LEASES - Read'
      operationId: getLeaseDocuments
      parameters:
      - name: leaseId
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/{leaseId}/latefeerule:
    get:
      tags:
      - Leases
      summary: Retrieve the lease late fee rule
      description: 'Retrieves the lease late fee rule.


        Required permission:

        LEASES - Read'
      operationId: getLeaseLateFee
      parameters:
      - name: leaseId
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LateFeeRule'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/{leaseId}/notes:
    get:
      tags:
      - Leases
      summary: Retrieve all lease notes
      description: 'Retrieves all the notes of a lease.


        Required permission:

        LEASES - Read'
      operationId: getLeaseNotes
      parameters:
      - name: leaseId
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Note'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
  /leases/{leaseId}/workorders:
    get:
      tags:
      - Leases
      summary: Retrieve all lease work orders
      description: 'Retrieves all the work orders of a lease.


        Required permission:

        LEASES - Read'
      operationId: getLeaseWorkOrders
      parameters:
      - name: leaseId
        in: path
        description: Lease ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkOrder'
        '400':
          description: Unable to process the request due to malformed request syntax or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The API key couldn't be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The supplied credentials don't have permissions to access the resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entity not found.
components:
  schemas:
    SaveAdjustment:
      type: object
      required:
      - amount
      - leaseID
      properties:
        amount:
          type: number
          format: double
          description: Amount, should be negative.
        comments:
          type: string
          description: Comments.
        date:
          type: string
          format: date
          description: Lease Adjustment date.
        leaseID:
          type: integer
          format: int64
          description: Id of the lease associated with the Adjustment.
        refNo:
          type: string
          description: Reference number.
      description: Adjustment for Request
    Collection_long_:
      type: object
    ContactExtension:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/Address'
        allowESignature:
          type: boolean
          example: false
          description: Indicates if the contact can receive eSignature request e-mail messages sent through Propertyware.
        altEmail:
          type: string
          description: Alternate e-mail address.
        birthDate:
          type: string
          format: date
          description: Date of birth.
        category:
          type: string
          description: Contact category.
        comments:
          type: string
          description: Comments.
        company:
          type: string
          description: Company where the contact is employed.
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        customFields:
          type: array
          description: Custom fields.
          items:
            $ref: '#/components/schemas/CustomField'
        email:
          type: string
          description: E-mail address.
        fax:
          type: string
          description: Fax.
        firstName:
          type: string
          description: First name.
        gender:
          type: string
          description: Gender.
          enum:
          - UNKNOWN
          - MALE
          - FEMALE
          - DECLINE_TO_STATE
        homePhone:
          type: string
          description: Home phone.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        jobTitle:
          type: string
          description: Professional title or position for the contact.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        lastName:
          type: string
          description: Last name.
        middleName:
          type: string
          description: Middle name.
        mobilePhone:
          type: string
          description: Mobile phone.
        nameOnCheck:
          type: string
          description: Name on check.
        namedOnLease:
          type: boolean
          example: false
          description: Indicates if contact is named on lease.
        otherPhone:
          type: string
          description: Other phone.
        role:
          type: string
          description: Role.
        salutation:
          type: string
          description: Salutation.
        suffix:
          type: string
          description: Suffix.
        type:
          type: string
          description: Contact type.
          enum:
          - TENANT
          - PROSPECT
          - OWNER
          - VENDOR
          - OTHER
        workPhone:
          type: string
          description: Work phone.
      description: Contact Response
    SaveCustomField:
      type: object
      required:
      - entityId
      - fieldSet
      properties:
        entityId:
          type: integer
          format: int64
          description: Unique identifier of an entity custom field associated to.
        fieldSet:
          type: array
          description: List of Custom fields to update
          items:
            $ref: '#/components/schemas/CustomFieldSet'
      description: Custom field for Request
    Lease:
      type: object
      properties:
        active:
          type: boolean
          example: false
          description: Indicates if lease is Active.
        addendums:
          type: array
          description: Lease addendum(s).
          items:
            $ref: '#/components/schemas/LeaseClause'
        arBalance:
          type: number
          format: double
          description: Lease Accounts Receivable Balance
        baseRent:
          type: number
          format: double
          description: Property base rent.
        buildingID:
          type: integer
          format: int64
          description: Id of the building associated with this lease.
        comments:
          type: string
          description: Description of the lease.
        contacts:
          type: array
          description: List of the current tenants on the lease.
          items:
            $ref: '#/components/schemas/LeaseContact'
        createdBy:
          type: string
          description: User who created the record.
        createdDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was created. (Timezone: UTC)'
        customFields:
          type: array
          description: Custom fields.
          items:
            $ref: '#/components/schemas/CustomField'
        endDate:
          type: string
          format: date
          description: End date of the lease term.
        id:
          type: integer
          format: int64
          description: Unique identifier.
        idNumber:
          type: integer
          format: int32
          description: Lease identification number.
        lastModifiedBy:
          type: string
          description: User who last modified the record.
        lastModifiedDateTime:
          type: string
          format: date-time
          description: 'Date and time the record was last modified. (Timezone: UTC)'
        lateFeeRule:
[...]
